.comment_list {
  display: flex;
  gap: 3px;
}
.comment_icon {
  width: 2.4rem;
  height: 2.4rem;
}

.comment_content {
  flex: 1;
  font-weight: 600;
  font-size: 1.9rem;
  padding-left: 10px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* @media only screen and (max-width: 767px) {
  .comment_icon img {
    height: 12px;
    width: 12px;
    object-fit: cover;
  }

  .comment_list {
    font-size: 14px;
  }
} */
