.g_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.legend {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2.5rem;
}

.legendItem {
  display: flex;
  align-items: center;
}

.legendColor {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 100%;
}

.legendLabel {
  display: flex;
  align-items: center;
}

.legendname {
  display: flex;
  font-size: 1.9rem;
  font-weight: 600;
  margin-right: 0.7rem;
  margin-left: 0.95rem;

  flex-wrap: wrap;
  white-space: normal; /* 텍스트를 자동으로 줄바꿈하도록 설정 */
  overflow: hidden; /* 컨테이너 밖으로 텍스트가 넘치는 것을 방지 */
  text-overflow: ellipsis; /* 텍스트가 넘칠 경우 말줄임표를 표시 */
  word-wrap: break-word; /* 구형 브라우저를 위해 */
  word-break: break-word;
  overflow-wrap: break-word; /* 표준 속성 */
}

.legendper {
  font-size: 1.4rem;
  font-weight: 400;
  color: #747474;
}

.graphContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.doughnut {
  width: 20rem;
  height: 20rem;
}

.centerText {
  position: absolute;

  font-size: 2.4rem;
  font-weight: 700;
  color: #000;
  text-align: center;
}
/* 
@media only screen and (max-width: 767px) {
  .g_name {
    font-size: 12px;
    font-weight: 700;
    margin-top: 0px;
  }

  .legend {
    width: 100%;
  }

  .legendname {
    font-size: 12px;
    margin-right: 5px;
  }

  .legendper {
    font-size: 12px;
    color: rgba(116, 116, 116, 1);
  }
} */
