.g_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.legend {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2.5rem;
}

.legendItem {
  display: flex;
  align-items: center;
}

.legendColor {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 100%;
}

.legendLabel {
  display: flex;
  align-items: center;
}

.legendname {
  display: -webkit-box; /* Flex 대신 Webkit 박스를 사용하여 줄 수 제한 */
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; /* 1줄로 제한 */
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.9rem;
  font-weight: 600;
  margin-right: 0.7rem;
  margin-left: 0.95rem;
}

.legendper {
  font-size: 1.4rem;
  font-weight: 400;
  color: #747474;
}

.graphContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.doughnut {
  width: 20rem;
  height: 20rem;
}

.centerText {
  position: absolute;

  font-size: 2.4rem;
  font-weight: 700;
  color: #000;
  text-align: center;
}
/* 
@media only screen and (max-width: 767px) {
  .g_name {
    font-size: 12px;
    font-weight: 700;
    margin-top: 0px;
  }

  .legend {
    width: 100%;
  }

  .legendname {
    font-size: 12px;
    margin-right: 5px;
  }

  .legendper {
    font-size: 12px;
    color: rgba(116, 116, 116, 1);
  }
} */
