.ask_list {
  display: flex;
  justify-content: space-between;
}
.ask_front {
  width: 85%;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ask_icon {
  font-size: 1.9rem;
  margin-right: 0.5rem;
}

.ask_content {
  cursor: pointer;
  word-break: break-word;
  font-size: 1.9rem;
}

.comment_icon {
  align-self: center;
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.comment_num {
  font-size: 1.9rem;
  margin-right: 1.2rem;
  color: #747474;
  font-weight: 700;
}

.comment_png {
  object-fit: contain;
  vertical-align: top;
  width: 1.8rem;
}

/* @media only screen and (max-width: 767px) {
  .ask_list {
    font-size: 14px;
  }

  .ask_content {
    padding-left: 5px;
  }
  .comment_png {
    margin-right: 5px;
    height: 12px;
    width: 12px;
    object-fit: cover;
  }
  .comment_num {
    font-size: 12px;
  }
} */
