.historyDiffContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 4rem;
}
.historyDiffContent {
  width: 75%;
}
.historyDiffTitle {
  display: flex;
  align-items: center;
  margin-top: 7.7rem;
  margin-bottom: 3.1rem;
  gap: 0.5rem;
  width: 100%;
}
.docTitle {
  font-size: 3.6rem;
  font-weight: 700;
  color: #de3a58;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.listTitles {
  font-weight: 700;
  font-size: 3.6rem;
  padding: 0 0.3rem;
  margin: 0;
  min-width: 31rem;
}
.historyDiffBox {
  border-radius: 1.2rem;
  border: 0.1rem #d5d5d5 solid;
  padding: 2rem 1.2rem 1.2rem 1.2rem;
}
.diffBox {
  width: 100%;
}
.diffBox pre,
.diffBox span {
  font-size: 1.8rem;
}
.verCompare {
  width: 100%;
  height: 70px;
  color: #9f132d;
  display: flex;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  border-bottom: 0.2rem solid rgba(213, 213, 213, 1);
}
.verCompareNum {
  font-size: 3.3rem;
  font-weight: 600;
}
