.hidden {
  display: none;
}
.pageWrap {
  display: flex;
  height: 100vh;
  flex-direction: column;
}
.historyContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.historyContent {
  width: 75%;
  display: flex;
  flex-direction: column;
}
.historyBtn {
  width: 74%;
  margin-left: 13%;
  height: auto;
  display: flex;
}
.historyBtn p {
  margin: 0rem 1rem 0rem 1rem;
  cursor: pointer;
}
.header span {
  font-size: 3rem;
  font-weight: bolder;
  color: white;
}
.header img {
  margin-right: 1rem;
}
.allhistoryTitle {
  display: flex;
  align-items: center;
  flex-direction: row;
  align-items: flex-end;
  margin-top: 7.7rem;
  margin-bottom: 3.1rem;
}
.historyTitle {
  display: flex;
  align-items: center;
  margin-top: 7.7rem;
  margin-bottom: 3.1rem;
  gap: 0.5rem;
  width: 100%;
}
.listTitle {
  font-size: 2.4rem;
  font-weight: 700;
  margin-right: 1rem;
}
.listTitles {
  font-weight: 700;
  font-size: 3.6rem;
  padding: 0 0.3rem;
  margin: 0;
  white-space: nowrap;
}
.docTitle {
  font-size: 3.6rem;
  font-weight: 700;
  color: #de3a58;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.historyTypes {
  display: flex;
  align-items: center;
  margin-left: 5rem;
  color: #747474;
  padding-bottom: 0.8rem;
}
.historyTypes p {
  font-weight: 700;
  font-size: 2rem;
  margin-right: 2rem;
  cursor: pointer;
  margin-bottom: 0;
}
.clickType {
  color: #de3a58;
}
.listTitleStart {
  font-size: 3.6rem;
  color: #de3a58;
}
.pagingContainer {
  margin: 5rem 0;
}
.footerContainer {
  margin-top: auto;
}
.linkToNew {
  margin-top: 10px;
  text-align: center;
}
.link {
  color: rgba(116, 116, 116, 1);
  font-size: 1.6rem;
  text-decoration: none;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-bottom: 5%;
  text-decoration-line: underline;
}
.link:hover {
  text-decoration: underline;
}
.blank {
  height: 2rem;
}

/* 모바일 뷰 */
@media only screen and (max-width: 767px) {
  .allhistoryTitle {
    margin-top: 5rem;
    flex-direction: column;
    align-items: flex-start;
  }
  .docTitle,
  .listTitleStart,
  .listTitles {
    font-size: 3.2rem;
  }
  .historyTitle {
    margin-top: 5rem;
  }
  .historyTypes {
    margin-left: 0;
  }
  .historyTypes p {
    font-size: 2.5rem;
  }
  .historyContent {
    width: 90%;
  }
  .blank {
    height: 0rem;
  }
}
