.pageWrap {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: space-between;
}

.popDocList {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.desktopViewContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 24px 24px;
  justify-content: center;
  align-items: start;
  overflow-y: scroll;
  scrollbar-width: none;
  margin-left: 5%;
  margin-right: 5%;
}

.HomeTitle {
  display: flex;
  align-items: center;
  height: 25%;
  padding-bottom: 1%;
}

.HomeSubTitle {
  font-weight: 700;
  color: #000;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 2.2rem;
}

.SubTitleMore {
  font-size: 1.2rem;
  color: #979797;
  font-weight: 500;
  line-height: 1.5rem;
  text-decoration-line: underline;
  text-align: center;
  margin-left: 1.4rem;
  margin-bottom: 0px;
  margin-top: 0px;
}

.HotDebate {
  grid-column: 1/7;
  grid-row: 2/3;
  margin-bottom: 2%;
  border-bottom: solid #ebebeb 1px;
  padding-bottom: 2%;
}

.PopularQuestion {
  grid-column: 1/7;
  grid-row: 3/4;
  margin-bottom: 2%;
  border-bottom: solid #ebebeb 1px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-bottom: 2%;
}

.recommendTag {
  grid-column: 3/6;
  grid-row: 4/5;
}

.HomePart {
  margin-bottom: 10px;
  border-bottom: solid #ebebeb 2px;
}

.HotDebateList {
  display: flex;
  justify-content: space-between;
  height: 70%;
}

.questionList {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-start;
  margin-top: 1%;
}

.logo {
  margin-left: 300px;
  margin-right: 40px;
  width: auto;
  height: calc(100% - 10px);
}

@media only screen and (max-width: 900px) {
  .logo {
    margin-left: 100px;
  }
}

@media only screen and (max-width: 767px) {
  .logo {
    display: none;
  }
}

.inputContainer {
  height: 60px;
  display: flex;
  width: 75%;
  position: relative;
  margin-top: 40px;
  margin-bottom: 15px;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 767px) {
  .inputContainer {
    width: calc(100% - 50px);
    height: 30px;
    margin-top: 30px;
  }
}

.searchInput {
  position: relative;
  border: 2.5px solid #9c0909;
  border-radius: 35px;
  flex: 1;
  height: 100%;
  padding-left: 40px;
  box-sizing: border-box;
  padding-right: 80px;
  font-size: 18px;
  letter-spacing: 0.5px;
  min-width: 325px;
}

@media only screen and (max-width: 767px) {
  .searchInput {
    height: 40px;
    padding-left: 20px;
    margin-left: 20px;
    padding-right: 55px;
  }
}

.searchIconContainer {
  position: relative;
  display: flex;
  width: 400px;
  height: 100%;
  align-items: center;
}

@media only screen and (max-width: 900px) {
  .searchIconContainer {
    width: 100px;
  }
}

.searchIcon {
  position: absolute;
  margin-left: -60px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

@media only screen and (max-width: 767px) {
  .searchIcon {
    width: 22px;
    height: 18px;
    right: 40px;
    top: 10px;
  }
}

.chatBotContainer {
  height: 80vh;
  font-size: 100px;
  grid-column: 1/2;
}

@media only screen and (max-width: 767px) {
  .chatBotContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

.chatBotBtn {
  display: none;
  cursor: pointer;
  margin: auto;
}

.popularDoc {
  grid-column: 1/7;
  grid-row: 1/2;
  margin-bottom: 2%;
  border-bottom: solid #ebebeb 1px;
  padding-bottom: 1%;
}

@media only screen and (max-width: 767px) {
  .chatBotBtn {
    display: block;
    width: 340px;
    height: 200px;
  }
}

.recommendTagTitle {
  font-weight: 700;
  color: #000;
  margin-top: 0px;
  font-size: 2.4rem;
  margin-bottom: 5%;
}

.realTime {
  grid-column: 2/3;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr 1fr 0.7fr 0.7fr;
  height: 75vh;
  column-gap: 24px;
}

@media (max-width: 767px) {
  .realTime {
    display: flex;
    margin: auto;
  }
}

.BottomPart {
  display: flex;
  width: max-content;
}

.realTimeBox {
  flex-direction: column;
  border-radius: 11.125px;
  box-shadow: 0px 5px 20px -5px #00000033;
}

.recommendList {
  display: flex;
  flex-wrap: wrap;
}

.realTimerank {
  font-size: 1.3rem;
  margin-left: 5px;
  font-weight: 600;
  color: black;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: 22px;
  margin-top: 0px;
  border-radius: 30px;
  border: solid #000 1px;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 5%;
}

.realTimerank:hover {
  color: #fff;
  background-color: #000;
}

.question {
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 270px;
  border-radius: 12px;
  box-shadow: 0px 5px 20px -5px #00000033;
  margin-bottom: 20px;
}

.realTimeTitle {
  font-weight: 800;
  height: 20%;
  font-size: 1.4rem;
  color: #000000;
  font-weight: 700;
  margin-bottom: 0px;
  text-align: center;
  margin-top: 5%;
}

.realrankWrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  align-items: flex-start;
  margin-right: 10px;
}

.rankWrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  align-items: flex-start;
  width: 50%;
}

.bubbleIcon {
  width: 12px;
  height: 12px;
  margin-top: 2px;
}

.blackNumberIcon {
  font-weight: 500;
  font-size: 7px;
  color: black;
  /* 검정색 */
  width: 15px;
  margin-top: 0px;
}

.pinkNumberIcon {
  font-weight: 500;
  font-size: 7px;
  color: #de3a58;
  width: 15px;
  margin-top: 0px;
}

.rankContent {
  margin-left: 5px;
  font-weight: 600;
  font-size: 1.7rem;
  color: black;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: 2.2rem;
  margin-top: 0px;
  margin-bottom: 5px;
}

.randomDocBox {
  flex-direction: column;
  border-radius: 11.125px;
  box-shadow: 0px 5px 20px -5px #00000033;
  grid-column: 1/3;
  grid-row: 4/5;
  display: flex;
  height: fit-content;
}

.randomDocBack {
  width: 90%;
  padding-top: 5%;
}
.randomBackContainer {
  text-align: center;
}
.more {
  display: flex;
  align-items: center;
}
.randomDocTitleContainer {
  width: 50%;
  text-align: center;
  font-weight: 700;
  word-break: keep-all;
}
.randomLink {
  text-decoration: none;
  /* 밑줄 제거 */
  color: black;
  /* 기본 텍스트 색상 유지 */
  font-size: 2rem;
  cursor: pointer;
}

.randomDocBottom {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
}

.randomBtn {
  width: 17px;
}

.mobileViewContainer {
  display: flex;
  flex-direction: column;
}
.mobileTitleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobileTitlePink {
  align-self: flex-start;
  font-size: 4.5rem;
  margin-top: 2rem;
  margin-left: 3rem;
  font-weight: 700;
  color: #f86982;
}

.mobileTitleBlack {
  align-self: flex-start;
  font-size: 4.5rem;
  margin-left: 3rem;
  font-weight: 700;
}

.mobileButtonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2rem;
  overflow-x: auto; /* 좌우 스크롤 활성화 */
  white-space: nowrap; /* 버튼들이 한 줄에 이어지도록 설정 */
}

.mobileButton {
  font-size: 2rem;
  padding: 3rem;
  display: flex;
  background: rgba(238, 238, 238, 1);
  margin: 0.5rem;
  width: 100%;
  height: 5rem;
  border-radius: 30.42px;
  align-items: center;
  justify-content: center;
  color: rgba(116, 116, 116, 1);
  cursor: pointer;
  border: none;
}

.mobileChatbotButtonContainer {
  margin-right: 2rem;
}
.mobileChatbotButton {
  font-size: 2rem;
  display: flex;
  background: rgba(238, 238, 238, 1);
  width: 8rem;
  height: 8rem;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  color: rgba(116, 116, 116, 1);
  border: none;
  cursor: pointer;
}
.mobileButton.clicked {
  background: black;
  color: white;
}
.mobileChatbotButton.clicked {
  background: black;
  color: white;
}

.mobileChatbotButton {
  margin-left: 1rem;
  margin-right: -1rem;
  border: none;
  background: none;
}

.popularDocsContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2개의 열로 구성 */
  gap: 2rem; /* 각 그리드 아이템 사이의 간격 설정 */
  padding: 2.5rem;
  border-radius: 50px;
}
