.pageWrap {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.homeWrap {
  flex: 1;
  display: flex;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  scrollbar-width: none;
}

.logo {
  margin-left: 300px;
  margin-right: 40px;
  width: auto;
  height: calc(100% - 20px);
}
@media only screen and (max-width: 1300px) {
  .logo {
    margin-left: 200px;
  }
}
@media only screen and (max-width: 900px) {
  .logo {
    margin-left: 100px;
  }
}
@media only screen and (max-width: 767px) {
  .logo {
    display: none;
  }
}

.inputContainer {
  height: 60px;
  display: flex;
  width: 75%;
  position: relative;
  margin-top: 10px;
  margin-bottom: 15px;
  align-items: center;
  background-color: red;
}
@media only screen and (max-width: 767px) {
  .inputContainer {
    width: calc(100% - 50px);
    height: 30px;
    margin-top: 30px;
  }
}

.searchInput {
  position: relative;
  border: 2.5px solid #9c0909;
  border-radius: 35px;
  flex: 1;
  height: 43px;
  padding-left: 40px;
  box-sizing: border-box;
  padding-right: 80px;
  font-size: 13px;
  letter-spacing: 0.5px;
  min-width: 325px;
}

@media only screen and (max-width: 767px) {
  .searchInput {
    height: 40px;
    padding-left: 20px;
    margin-left: 20px;
    padding-right: 55px;
  }
}

.searchIconContainer {
  position: relative;
  display: flex;
  width: 400px;
  height: 100%;
  align-items: center;
}
@media only screen and (max-width: 1300px) {
  .searchIconContainer {
    width: 200px;
  }
}
@media only screen and (max-width: 900px) {
  .searchIconContainer {
    width: 100px;
  }
}
.searchIcon {
  position: absolute;
  margin-left: -60px;
  width: 21px;
  height: 21px;
  cursor: pointer;
}
@media only screen and (max-width: 767px) {
  .searchIcon {
    width: 22px;
    height: 18px;
    right: 40px;
    top: 10px;
  }
}

/* 챗봇 컨테이너 아님, 검색창을 제외한 모든 컴포넌트를 포함하는 컨테이너 */
.chatBotContainer {
  display: flex;
  flex: 1;
  flex-direction: row;
  margin-bottom: 25px;
  overflow-y: scroll;
  overflow-x: auto;
  scrollbar-width: none;
  width: 90%;
  padding-top: 7vh;
  padding-bottom: 7vh;
  max-height: 600px;
  max-width: 1400px;
}
@media only screen and (max-width: 767px) {
  .chatBotContainer {
    flex-direction: column;
    align-content: center;
    flex-wrap: nowrap;
  }
}

/* 모바일 화면에서만 사용되는 챗봇페이지로 넘어가는 버튼 */
.chatBotBtn {
  display: none;
  cursor: pointer;
  margin: auto;
}
@media only screen and (max-width: 767px) {
  .chatBotBtn {
    display: block;
    width: 340px;
    height: 200px;
  }
}

/* 실시간 인기 검색어와 실시간 인기질문 컴포넌트를 포함하는 외부 컨테이너 */
.realTime {
  width: 20vw;
  display: flex;
  gap: 2vh;
  flex-direction: column;
  margin-right: 75px;
  min-height: 520px;
}
/* @media (max-width: 1300px) {
  .realTime {
    display: none;
  }
} */
@media (max-width: 767px) {
  .realTime {
    width: 320px;
    display: flex;
    margin: auto;
  }
}

/* 실시간 인기 검색어 컴포넌트 컨테이너 */
.keyWord {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
  height: 200px;
  border-radius: 12px;
  box-shadow: 0px 5px 20px -5px #00000033;
  margin-bottom: 5px;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 7px;
  padding-right: 10px;
  box-sizing: border-box; /* 패딩과 보더를 포함하여 크기를 계산 */
}

/* 실시간 인기 질문 컴포넌트 컨테이너 */
.question {
  display: flex;
  flex-direction: column;
  /* 변경 */
  width: 100%;
  flex: 1;
  height: 200px;
  border-radius: 12px;
  box-shadow: 0px 5px 20px -5px #00000033;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 7px;
  padding-right: 10px;
  box-sizing: border-box; /* 패딩과 보더를 포함하여 크기를 계산 */
}

.realTimeTitle {
  margin-left: 20px;
  font-weight: 800;
  font-size: clamp(14px, 1vw, 18px); /* 최소 14px, 최대 18px으로 설정 */
  color: #de3a58;
  margin-bottom: 10px;
}
@media (max-width: 767px) {
  .realTimeTitle {
    font-size: 14px;
  }
}

/* 실시간 인기검색어와 인기 질문내의 각 항목들 */
.rankWrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  padding-right: 20px;
}

.numberIcon {
  margin-left: 20px;
  font-weight: 500;
  font-size: 12px;
  color: #de3a58;
  width: 15px;
  margin-top: 7px;
}
.blackNumberIcon {
  margin-left: 20px;
  font-weight: 500;
  font-size: 12px;
  color: black; /* 검정색 */
  width: 15px;
  margin-top: 7px;
}

/* 랭크 내 각 항목의 text를 감싸는 래퍼,(숫자, Q는 포함하지 않음) */
.rankContent {
  margin-left: 20px;
  font-weight: 400;
  font-size: clamp(12px, 0.9vw, 16px); /* 최소 14px, 최대 18px으로 설정 */
  color: black;
  max-width: clamp(245px, 20vw, 450px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: 5px;
}
@media (max-width: 767px) {
  .rankContent {
    font-weight: 500;
    font-size: 13px;
  }
}
