.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.nodebate {
  margin-left: 20px;
}

.debate {
  font-size: 30px;
  font-weight: bolder;
  color: white;
}

.debatecontent {
  min-height: 80vh;
  height: auto;
  width: auto;
  display: grid;
  grid-template-columns: repeat(12,1fr);
  margin: 0 12rem;
  grid-gap: 2.4rem;
  flex-direction: row;
  flex: 1;
  padding-top:3.2rem;
}

.sidebar {
  grid-column: 9/12;
  height: fit-content;
  background-color: rgba(254, 242, 244, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3.7rem;
  box-sizing: border-box;
  border-radius: 12px;
  position: -webkit-sticky;
  position: sticky;
  align-self: flex-start;
  top: 10rem;
}
.sidebar div {
  width: 100%;
  font-size:3.5rem;
  font-weight: 600;
}
.maincontent {
  background-color: white;
  height: auto;
  grid-column: 2/9;
}

.maincontent_box {
  padding-right: 3.3rem;
  padding-bottom: 4.3rem;
}

.title {
  font-size: 3.6rem;
  font-weight: 700;
  margin-top: 0;
  border-bottom: 4px solid #9F132E;
  padding-bottom: 1.9rem;
  margin-bottom: 2.9rem;
  color:#DE3A58;
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #DE3A58;
  font-size: 5rem;
  font-weight: 700;
  margin-bottom: 3rem;
}
.menu1 {
}
.menu2 {
}
.debateRecent{
  margin-top: 10rem;
}
.debatesearch{
  width: 100%;
  margin-bottom: 20rem;
}

@media only screen and (max-width: 767px) {
  .debate {
    font-size: 20px;
  }

  .debatecontent {
    width: 86%;
    margin: 3% 7%;
    display: flex;
    flex-direction: column;
  }

  .maincontent {
    width: 100%;
    height: auto;
  }
  .sidebar {
    display: block;
    background-color: white;
    width: 100%;
    padding: 0;
  }

  .debateSearch {
    width: 100%;
    border-radius: 12px;
    background-color: rgba(254, 242, 244, 1);
    box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.2);
    padding: 10px;
    box-sizing: border-box;

  }

  .debateRecent {
    display:none;

  }

  .maincontent_box {
    box-shadow: none;
    margin: 0;
  }

  .title {
    margin-bottom: 19px;
  }

  .menu,
  .menu1,
  .menu2 {
    margin: 0;
  }

}
