.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  display: flex;
  padding: 30px 0;
  flex-direction: column;
  width: 74%;
  height: auto;
  margin-left: 13%;
  flex: 1;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.frontheader {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 1rem;
}

.q_pagename {
  font-size: 3.6rem;
  font-weight: 700;
  margin: 2rem 0;
  align-self: center;
  color: #de3a58;
  cursor: pointer;
}

.q_headline {
  font-size: 3.6rem;
  font-weight: bold;
  padding-left: 1.5rem;
}

.q_linkbtn {
  white-space: nowrap;
}

.docLinkBtn {
  border: none;
  border-radius: 3rem;
  background: linear-gradient(to right, #9f132e, #de3a58);
  height: 3.6rem;
  width: 14rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white !important;
  padding: 0 1.5rem;
  box-sizing: border-box;
  font-size: 2.3rem;
  font-weight: 600;
  cursor: pointer;
}

.docLinkBtn img {
  margin-right: 0.4rem;
}

.questionHeaderContainer {
  display: flex;
  margin-top: 3.2rem;
  align-items: center;
  margin-bottom: 1rem;
  padding: 1rem 0;
}

.questionTitle {
  font-size: 2.4rem;
  font-weight: 700;
  color: #333;
}

.switch {
  display: flex;
  align-items: center;
}

.switch label {
  margin-left: 1rem;
  font-size: 1.4rem;
  color: #666;
}

.noQuestionsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30rem;
}

.noQuestionsContent {
  text-align: center;
}

.noQuestionsIcon {
  width: 7.8rem;
  height: 7.8rem;
  margin-bottom: 2.6rem;
}

.noQuestionsText {
  margin-top: 0rem;
  font-size: 3.2rem;
  color: black;
  font-weight: 500;
}

@media only screen and (max-width: 767px) {
  .content {
    display: flex;
    flex-direction: column;
    width: auto;
    margin: 0 3rem 3rem 3rem;
    padding: initial;
  }

  .header {
    height: 8rem;
    border-bottom: 0.3rem solid rgba(159, 19, 46, 1);
  }

  .frontheader {
    width: auto;
  }

  .docLinkBtn {
    border-radius: 2.4rem;
    width: 12rem;
    height: 3.4rem;
  }

  .docLinkBtn img {
    width: 1.6rem;
    height: 1.4rem;
    margin-right: 0.3rem;
  }

  .docLinkBtn span {
    font-size: 1.3rem;
  }

  .q_pagename {
    font-size: 2.8rem;
    margin: 0;
  }

  .q_headline {
    font-size: 2.8rem;
    padding-left: 0.9rem;
    color: black;
  }

  .questionHeaderContainer {
    margin: 3.5rem 0 0 0;
    padding: 0;
  }

  .questionTitle {
    font-size: 2.8rem;
    margin-right: 1rem;
  }

  .switch {
    width: auto;
  }
}
