.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.mybadgecontent {
  padding: 7rem 0;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.b_header {
  width: 111rem;
  margin-bottom: 3.4rem;
}
.b_headline {
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
}
.b_list {
  width: 111rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  column-gap: 2.4rem;
  row-gap: 3.4rem;
  margin-bottom: 3rem;
}
.badgeCount {
  color: #c52b47;
  font-weight: 700;
  font-size: 3rem;
}
.paginationWrapper {
  margin-top: 1.5rem;
}
.footerContainer {
  margin-top: auto;
}
@media only screen and (max-width: 767px) {
  .mybadgecontent {
    padding: 20px 7px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .b_header {
    width: 100%;
    margin-bottom: 13px;
    padding: 0 7px;
  }
  .b_headline {
    font-size: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
  }
  .b_list {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    row-gap: 13px;
    padding: 0 7px;
    margin-bottom: 20px;
  }
  .badgeCount {
    color: #c52b47;
    font-weight: 700;
    font-size: 16px;
  }
  .paginationWrapper {
    margin-top: 0;
  }
}
