.mybadgecontent {
  padding: 10.7rem 0;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.b_header {
  width: 111rem;
  margin-bottom: 3.4rem;
}
.b_headline {
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
}
.b_list {
  width: 111rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  column-gap: 2.4rem;
  row-gap: 3.4rem;
  margin-bottom: 3rem;
}
.badgeCount {
  color: #c52b47;
  font-weight: 700;
  font-size: 3rem;
}
@media only screen and (max-width: 767px) {
  .mybadgecontent {
    padding: 3rem 1rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .b_header {
    width: 100%;
    margin-bottom: 2rem;
    padding: 0 1rem;
  }
  .b_headline {
    margin-left: 3rem;
    margin-bottom: 1.5rem;
  }
  .b_list {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    row-gap: 2rem;
    padding: 0 1rem;
  }
  .badgeCount {
    color: #c52b47;
    font-weight: 700;
    font-size: 2.4rem;
  }
}
