.pagewrap {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}
.myPageContainer {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
}
.navContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.navSubContainer {
  width: 50%;
}
.userGreeting {
  width: 100%;
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 3.7rem;
}
.allNavigators {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
  margin-bottom: 4.5rem;
}
.nowNav {
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 6.4rem;
  padding: 0 2rem 0 3.2rem;
  border-radius: 1.2rem;
  font-size: 2.3rem;
  font-weight: 700;
  cursor: default;
  color: white;
  background-image: linear-gradient(to right, #de3a58, #9f132e);
  box-shadow: 0rem 1rem 2.5rem -0.5rem #9f132e59;
}
.defaultNav {
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 6.4rem;
  padding: 0 2rem 0 3.2rem;
  border-radius: 1.2rem;
  font-size: 2.3rem;
  font-weight: 700;
  cursor: pointer;
  color: white;
  background-color: #d5d5d5;
}
.navArrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.8rem;
  height: 3.8rem;
}
.logout {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 2.3rem;
  font-weight: 700;
  color: #747474;
}
.contentContainer {
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2.5rem 4rem;
}
.contentTitle {
  font-size: 3rem;
  font-weight: 700;
}
.contentSubContainer {
  width: 68.5rem;
}
.profileContainer {
  margin-bottom: 5.8rem;
}
.profileBox {
  background-color: white;
  border-radius: 3.4rem;
  box-shadow: 0rem 0.2rem 6rem -0.5rem #00000014;
  padding: 2.8rem 3rem 4.25rem 3rem;
}
.profileHeader {
  margin-bottom: 2.8rem;
}
.badgeHeader {
  display: flex;
  gap: 1.7rem;
  margin-bottom: 3.3rem;
}
.contentNum {
  font-size: 3rem;
  background-image: linear-gradient(to top, #de3a58, #9f132e);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.moreBadge {
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.moreBadgeText {
  font-size: 1.5rem;
  font-weight: 500;
  color: #de3a58;
  text-decoration: underline;
}
.moreBadgeImg {
  width: 2.4rem;
  height: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.moreBadgeImgContent {
  color: #de3a58;
}
.badgesContainer {
  display: flex;
  gap: 2.7rem;
}
.badgeContent {
  display: flex;
  justify-content: space-between;
}
.badgeImage {
  width: 11.2rem;
  height: 11.2rem;
  border-radius: 100%;
  border: 0.1rem solid rgba(116, 116, 116, 1);
}
.lockedImage {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 11.4rem;
  height: 11.4rem;
  border-radius: 100%;
  border: 0.1rem solid rgba(116, 116, 116, 1);
  background-color: #e4e4e4;
}
.contributeHeader {
  display: flex;
  gap: 1.7rem;
  margin-bottom: 2.8rem;
}
.contributionBox {
  margin-bottom: 3rem;
  background-color: white;
  border-radius: 3.4rem;
  box-shadow: 0rem 0.2rem 6rem -0.5rem #00000014;
  padding: 4.4rem 7rem;
}
.contributionList {
  height: 25rem;
  margin-bottom: 6rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.contributionElement {
  border-bottom: 0.1rem #d5d5d5 solid;
  height: 3.8rem;
}
.noList {
  height: 45rem;
  padding-top: 12rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.warningsign {
  width: 7.8rem;
  height: 7.8rem;
  border-radius: 100%;
  background-color: #fef2f4;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.6rem;
}
.warningtext {
  font-size: 3.2rem;
  font-weight: 500;
  text-align: center;
}
.questionHeader {
  display: flex;
  gap: 1.7rem;
  margin-bottom: 4.6rem;
}
.questionList {
  height: 34rem;
  margin-bottom: 27rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.questionElement {
  border-bottom: 0.1rem #d5d5d5 solid;
  height: 3.8rem;
}

.debateHeader {
  display: flex;
  gap: 1.7rem;
  margin-bottom: 4.6rem;
}
.debateList {
  height: 34rem;
  margin-bottom: 27rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.debateElement {
  border-bottom: 0.1rem #d5d5d5 solid;
  height: 3.8rem;
}
.footerContainer {
  margin-top: auto;
}
@media screen and (min-width: 768px) and (max-width: 940px) {
  * {
    font-size: 40%;
  }
}

/* 모바일뷰 */
.mobileMyPageContainer {
  display: none;
}
@media screen and (max-width: 767px) {
  .headerContainer {
    display: none;
  }
  .myPageContainer {
    display: none;
  }
  .mobileMyPageContainer {
    display: flex;
    flex-direction: column;
  }
  .mobileProfileContainer {
    padding: 1rem 3rem;
  }
  .mobileProfileBox {
    background: linear-gradient(172.18deg, #fff7f0 -40.24%, #fdeff6 106.25%);
    border-radius: 3.6rem;
    padding: 4.5rem;
  }
  .mobileNavBtn {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    border-bottom: 1px solid #d5d5d5;
    background-color: transparent;
    padding: 2.7rem 3rem;
    cursor: pointer;
  }
  .mobileNavText {
    font-size: 2.5rem;
    font-weight: 700;
  }
  .mobileNavArrowImg {
    filter: invert(59%) sepia(0%) saturate(0%) hue-rotate(318deg) brightness(150%) contrast(89%);
    width: 1rem;
  }
}
