

.header {
  display: flex;
  justify-content: center;
  align-items :center;
  background: linear-gradient(to bottom, rgba(159, 19, 46, 1), rgba(222, 58, 88, 1));
  height: 80px;
  width : 100%;
}

.mypage{
  font-size: 30px;
  font-weight:bolder;
  color: white; 
}



.uppercontent{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 70px 80px 0;
}


.leftcontent{
  width: 40%;
  border-radius: 12px;
  margin-right: 2px;
  padding-left: 30px;
  box-shadow : 0 5px 20px -5px rgba(0, 0, 0, 0.2);
}

.rightcontent{
  width: 60%;
  border-radius: 12px;
  margin-left: 2px;
  padding-left: 30px;
  box-shadow : 0 5px 20px -5px rgba(0, 0, 0, 0.2);
}


.middlecontent{
  padding: 0px 80px 0;
  margin-top: 10px;
  
}

.ask{
  border-radius: 12px;
  padding-left: 30px;
  box-shadow : 0 5px 20px -5px rgba(0, 0, 0, 0.2);
}


.downcontent{
  padding: 0px 80px 0;
  margin-top: 10px;

}

.comment{
  border-radius: 12px;
  padding-left: 30px;
  box-shadow : 0 5px 20px -5px rgba(0, 0, 0, 0.2);
}

.profileheader, .badgeheader{
  display: flex;
  width: 100%;
  position: relative;

}

.title{
  width: 40%;
  text-align: left;
  font-size: 24px;
  font-weight :bold;
  color : rgba(116, 116, 116, 1);
  padding: 10px 0;
}

.edit{
  justify-content: flex-end;
  width: 60%;
  text-align: right;
  font-size: 14px;
  color:rgba(159, 19, 46, 1);
  padding-right: 30px;
  border: none;
  background: none;
}

.rownick, .rowbadge, .rowpoint, .rowname, .rowemail, .rowid{
  display: table;
  width: 100%;
  position: relative;
  table-layout: fixed;
}

.profileimg{
  display: flex;
  width: 100%;
  justify-content: center;
  padding-bottom: 15px;
}

.img{
  border-radius: 100%;
  height: 100px;
  width: 100px;
  border : 1px solid rgba(116, 116, 116, 1)
}



.rowtitle{
  display: table-cell;
  text-align: center;
  width: 40%;
  font-size: 18px;
  color : rgba(159, 19, 46, 1);
  padding: 10px 0;
  font-weight: bold;
}

.text{
  display: table-cell;
  width: 60%;
  font-size: 18px;
  color : rgba(116, 116, 116, 1);
}


.rank{
  font-size: 14px;
  color:rgba(159, 19, 46, 1);
  text-align: left;
}



.badgegrid{
  padding: 1em 0 1em;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(3,1fr);
  gap: 20px 15px;
}

.infoedit{
  display: flex;
  justify-content: flex-end;
}

.edit2, .edit3{
  text-align: right;
  font-size: 14px;
  color:rgba(159, 19, 46, 1);
  padding-right: 30px;
  border: none;
  background: none;
}


.point_list{
  display: flex;
  font-size: 14px;
  padding-bottom: 10px;
}

.point_front{
  width: 60%;
  color: black;
  font-weight: bold;
}
.point_back{
  width: 40%;
  justify-content: flex-end;
  text-align: right;
  padding-right: 30px;
}

.poin_num{
  color:rgba(159, 19, 46, 1);
}

.point_time{
  margin-left: 30px;
  color : rgba(116, 116, 116, 1); 

}


@media only screen and (max-width: 767px) {
  .uppercontent, .middlecontent, .downcontent{
    display: flex;
    padding: 0 20px 0 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .leftcontent, .rightcontent{
    width: 100%;
  }
  .leftcontent {
    margin: 0 0 5px 0;
    padding-bottom: 10px;
  }
  .rightcontent {
    margin: 5px 0 0 0;
  }
  .downcontent{
    margin-bottom: 30px;
  }

  .ask, .comment{
    width: 100%;
  }
  
  .title{
    font-size: 20px;
    font-weight :bold;
    color : rgba(116, 116, 116, 1);

  }
  .edit{
    display: none;
  }
  .edit2, .edit3{
    padding-top: 10px;
    font-size: 10px;
  }

  .edit2{
    padding-right: 5px;
  }

  .badge{
    display: none;
  }

  .point_front{
    width: 50%;
    flex-wrap: wrap;
  }
  .point_back{
    width: 50%;
  }
  .point_time{
    font-size: 10px;
    margin-left: 10px;

  }

}

