

.header {
  display: flex;
  justify-content: center;
  align-items :center;
  background: linear-gradient(to bottom, rgba(159, 19, 46, 1), rgba(222, 58, 88, 1));
  height: 80px;
  width : 100%;
}

.mypage{
  font-size: 30px;
  font-weight:bolder;
  color: white; 
}

.mypagecontent{
  width : 74%;
  margin-left: 13%;
  height: auto;
}

.uppercontent{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 70px 0 0;
  margin-bottom: 70px;
}


.leftcontent{
  width: 40%;
  height: auto;
  border-radius: 12px;
  margin-right: 12px;
  box-shadow : 0 5px 20px -5px rgba(0, 0, 0, 0.2);
}

.leftcontent > * {
  margin-bottom: 0;
}

.rightcontent{
  display: flex;
  flex-direction: column;
  width: 60%;
}

.rightcontent > * {
  margin-bottom: 10px;
}

.rightcontent > *:last-child {
  margin-bottom: 0;
}


.middlecontent{
  margin-top: 10px;
  
}


.downcontent{
  margin: 10px 0 50px;

}

.comment{
  border-radius: 12px;
  padding-bottom: 2rem;
  box-shadow : 0 5px 20px -5px rgba(0, 0, 0, 0.2);
}

.profile{
  padding: 0 30px;
}

.profileheader, .badgeheader, .askheader, .commentheader{
  display: flex;
  width: 100%;
  position: relative;
}

.badge{
  padding: 0 30px;
}

.badge_content{
  border-radius: 10%;
  height: 70px;
  width: 70px;
  border : 1px solid rgba(116, 116, 116, 1)
}

.title, .title2{
  width: 40%;
  text-align: left;
  font-size: 24px;
  font-weight :bold;
  color : rgba(116, 116, 116, 1);
  padding: 10px 0;
}

.b_link, .c_link, .q_link, .edit_link {
  justify-content: flex-end;
  text-align: right;
  width: 60%;
  cursor: pointer;
  align-self: center;
}

.edit{
  justify-content: flex-end;
  text-align: right;
  width: 60%;
  font-size: 14px;
  color:rgba(159, 19, 46, 1);
  border: none;
  background: white;
  cursor: pointer;
  align-self: center;  
}



.profileimg{
  display: flex;
  width: 100%;
  justify-content: center;
  padding-bottom: 15px;
}

.profileimg_content{
  border-radius: 100%;
  height: 100px;
  width: 100px;
  border : 1px solid rgba(116, 116, 116, 1)
}


.info{
  padding: 0 30px;
}
@media only screen and (max-width: 767px) {
.info{
  box-shadow: 0 5px 20px -5px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
}}

.infoedit{
  display: flex;
  justify-content: flex-end;
}

.edit2, .edit3{
  text-align: right;
  font-size: 14px;
  color:rgba(159, 19, 46, 1);
  border: none;
  background: white;
  cursor: pointer;
}
@media only screen and (max-width: 767px) {
.edit2{
  padding-bottom: 2em;
}}




.badgegrid {
  padding: 0 0px 10px 0px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 20px 15px;
  justify-items: center;
  align-items: center;
}

.badgeImage {
  width: 100%; /* 원하는 크기로 조정 */
  height: 100%; /* 원하는 크기로 조정 */
  object-fit: contain; /* 이미지가 잘리지 않고 유지되도록 설정 */
  border: solid 1px rgba(116, 116, 116, 1);
  border-radius: 10%;
}

.paginationWrapper{
  padding-bottom: 1em;
}

.paginationWrapper ul{
  padding: initial;
}



.cb{
  padding: 0 30px 2em 30px;
  border-radius: 12px;
  padding-bottom: 2rem;
  box-shadow : 0 5px 20px -5px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 767px) {
.cb{
  box-shadow: 0 5px 20px -5px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
}}

.graph {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2em;
}

.graph img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.ask{
  border-radius: 12px;
  padding: 0 30px 2rem 30px;
  box-shadow : 0 5px 20px -5px rgba(0, 0, 0, 0.2);
}


.comment{
  padding: 0 30px 2em 30px;
}

@media only screen and (max-width: 767px) {
  .mypagecontent{
    width: 86%;
    margin-left: 7%;
    display: flex;
    flex-direction: column;
  }
  .uppercontent, .middlecontent, .downcontent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .leftcontent, .rightcontent{
    width: 100%;
    padding: initial;
  }
  .leftcontent {
    margin:  0;
    padding-bottom: 10px;
  }
  .rightcontent {
    margin:  0;
    padding-bottom: 10px;
  }

  .middlecontent, .downcontent{
    margin: 0 30px 0 30px;
  }
  .ask, .comment{
    width: auto;
  }

  .comment{
    margin-bottom: 30px;
  }
  
  .title, .title2{
    font-size: 12px;
    font-weight :bold;
    color : rgba(116, 116, 116, 1);
  }

  .title2{
    padding-top: 22px;
  }
  
  .edit{
    font-size: 10px;
  }
  .edit2, .edit3{
    padding-top: 10px;
    font-size: 10px;
  }

  .edit2{
    padding-right: 5px;
  }


  .badge{
    display: none;
  }


  /* .leftcontent, .ask, .comment{
    box-shadow: 0 5 2 0 rgba(0, 0, 0, 0.2);
  } */
  .rightcontent{
    box-shadow: initial;
    border-radius: initial;
  }



}

