.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  display: flex;
  padding: 30px 0;
  flex-direction: column;
  width: 74%;
  height: auto;
  margin-left: 13%;
  flex: 1;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-radius: 12px;
  box-shadow: 0 5px 20px -5px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
  align-items: center;
}

.switch {
  padding-right: 30px;
}

.question {
  font-size: 24px;
  font-weight: bold;
  padding-left: 30px;
}

.header button {
  background: none;
  box-shadow: none;
  border: none;
  padding-right: 30px;
}

@media only screen and (max-width: 767px) {
  .content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px 0 0 0;
    padding: 0;
  }

  .header {
    display: flex;
    border: 0;
    box-shadow: none;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 0;
  }

  .question_num {
    font-size: 20px;
    font-weight: 800;
    padding-left: 0.5rem;
    background: linear-gradient(to bottom, #9f132e, #de3a58);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 0;
  }

  .emptyQuestion {
    height: 10rem;
    width: 10rem;
    align-self: center;
    margin-top: 10rem;
  }

  .emptyQuestionText {
    font-size: 3rem;
    font-weight: 500;
    align-self: center;
    margin-top: 2rem;
    text-align: center;
  }

  .question {
    font-size: 20px;
    font-weight: 800;
    padding-left: 3rem;
    margin-top: 0;
  }

  .switch {
    display: none;
  }
}
