.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  display: flex;
  flex: 1;
  padding: 30px 0;
  flex-direction: column;
  width: 74%;
  height: auto;
  margin-left: 13%;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.frontheader {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.q_pagename {
  font-size: 3.6rem;
  font-weight: 700;
  margin: 2rem 0;
  align-self: center;
  color: #de3a58;
  cursor: pointer;
}

.q_headline {
  font-size: 3.6rem;
  font-weight: 700;
  padding-left: 1.5rem;
}

.backheader button {
  padding: 1.1rem 1.7rem 1rem 1.7rem;
  border-radius: 3.2rem;
  border: none;
  height: 4.5rem;
  width: 15.5rem;
  background: linear-gradient(rgba(159, 19, 46, 1), rgba(222, 58, 88, 1));
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  box-shadow: 0 0.4rem 1rem 0 rgba(159, 19, 46, 0.2);
}

.q_linkbtn {
  padding-left: 0.4rem;
}

.backheader img {
  height: 15px;
  width: 18px;
  object-fit: contain;
  padding-left: 0px;
}

.backheader span {
  display: flex;
  align-items: center;
}

.switch {
  padding-right: 30px;
}

.q_pagename {
  font-size: 36px;
  font-weight: bold;
  padding-left: 30px;
  margin: 20px 0px;
  padding: 0;
  /* align-self: center; */
}

.q_headline {
  /* align-self: last baseline; */
  font-size: 24px;
  font-weight: bold;
  padding-left: 15px;
}

.no_answer {
  justify-self: center;
  width: 100%;
  font-size: 3.5rem;
  font-weight: 500;
  text-align: center;
  height: 8rem;
  margin: 3rem 0 10rem 0;
}

.no_answer_img {
  height: 10rem;
  align-self: center;
  margin: 5rem 0 0 0;
  padding: 0;
}

.c_div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: auto;
  border-radius: 12px;
  border: 0.1rem solid #d5d5d5;
  margin-top: 2rem;
  align-items: center;
  justify-items: center;
  padding: 1.8rem 3.2rem 0.5rem 3.2rem;
}

.c_header {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 5rem;
}

.c_header img {
  margin: 0 1.8rem 0 0;
  height: 2.3rem;
  width: 3rem;
  align-self: center;
}

.c_headline {
  font-size: 2.4rem;
  font-weight: 700;
  margin: 0;
  color: black;
  align-self: center;
}

.no_answer_img {
  width: 100%;
}

.no_answer_img img {
  width: 10rem;
  height: 10rem;
  align-self: center;
  justify-self: center;
  margin-left: 10rem;
}

.c_num {
  margin-left: 7px;
  padding: 2px 14px;
  border-radius: 11px;
  color: white;
  font-size: 14px;
  font-weight: 700;
  background: linear-gradient(180deg, #db3956, #9f142f);
}

.q_editbtn span {
  font-size: 1.5rem;
}

.addQues {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  font-weight: 700;
  color: rgba(222, 58, 88, 1);
  background-color: white;
  border: none;
  cursor: pointer;
  text-decoration: none;
  margin-bottom: 0.3rem;
}

.addQues:visited {
  color: rgba(222, 58, 88, 1);
  text-decoration: none;
}

.addQuesLink {
  width: auto;
  margin-top: 4.5rem;
  text-decoration: none;
  /* 밑줄 제거 */
  color: inherit;
  /* 텍스트 색상을 상속 */
}

.askIcon {
  width: 1.9rem;
  height: 1.9rem;
  margin-left: 0.2rem;
}

@media only screen and (max-width: 767px) {
  .content {
    display: flex;
    flex-direction: column;
    width: auto;
    margin: 0 3rem 3rem 3rem;
    padding: initial;
  }

  .header {
    padding-bottom: 1.5rem;
    border-bottom: 0.35rem solid rgba(159, 19, 46, 1);
  }

  .q_pagename {
    padding: 0;
    margin: 0;
    font-size: 3rem;
  }

  .q_headline {
    font-size: 3rem;
    padding-left: 0.8rem;
  }

  .backheader button {
    padding: 0.7rem 1.1rem 0.8rem 1.1rem;
    border-radius: 3.2rem;
    border: none;
    height: 2.8rem;
    width: 10rem;
    background: linear-gradient(to right, rgba(159, 19, 46, 1), rgba(222, 58, 88, 1));
    font-size: 0.5rem;
  }

  .backheader img {
    width: 1.4rem;
    height: 1.4rem;
    object-fit: contain;
    align-self: center;
  }

  .backheader button {
    font-size: 12px;
    width: max-content;
    height: 25px;
    color: white;
  }

  .q_linkbtn {
    font-size: 1.5rem;
  }

  .q_cheader {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .q_cfrontheader {
    flex: 1 1 100%;
  }

  .q_cheadline {
    font-size: 18px;
  }

  .q_clastheader {
    margin-left: auto;
  }

  .q_clastheader button {
    width: 70px;
    height: 25px;
    font-size: 12px;
  }

  .q_ctextarea {
    font-size: 14px;
  }

  .c_div {
    margin-top: 1.4rem;
    padding: 1.5rem 1.4rem 1.5rem 1.4rem;
  }

  .textnum {
    font-size: 12px;
    margin-top: 10px;
  }

  .c_header {
    margin-top: 0;
    padding: 1.2rem 1.6rem 1.7rem 1.6rem;
    width: auto;
    padding: 0;
    height: 2rem;
  }

  .c_header img {
    padding: 0;
    margin: 0;
    width: 2.3rem;
    height: 2.2rem;
  }

  .c_headline {
    font-size: 2.2rem;
    padding-left: 1rem;
    margin: 0;
  }

  .no_answer {
    margin-bottom: 5rem;
  }

  .c_num {
    font-size: 13px;
    padding: 2px 13px;
  }
}
