.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  display: flex;
  flex: 1;
  padding: 30px 0;
  flex-direction: column;
  width: 74%;
  height: auto;
  margin-left: 13%;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.frontheader {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.q_pagename {
  font-size: 3.6rem;
  font-weight: 700;
  margin: 2rem 0;
  align-self: center;
  color: #de3a58;
}
.q_headline {
  font-size: 3.6rem;
  font-weight: 700;
  padding-left: 1.5rem;
}

.backheader {
  padding-right: 30px;
}
.backheader button {
  border-radius: 30px;
  border-color: rgba(159, 19, 46, 1);
  border-width: 2px;
  height: 36px;
  width: 128px;
  background-color: white;
  color: rgba(159, 19, 46, 1);
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.backheader img {
  height: 15px;
  width: 18px;
  object-fit: contain;
  padding-left: 0px;
}

.backheader span {
  display: flex;
  align-items: center;
}

.switch {
  padding-right: 30px;
}
.q_pagename {
  font-size: 36px;
  font-weight: bold;
  padding-left: 30px;
  margin: 20px 0px;
  /* align-self: center; */
}
.q_headline {
  /* align-self: last baseline; */
  font-size: 24px;
  font-weight: bold;
  padding-left: 15px;
}

.no_answer {
  width: 100%;
  margin-left: 3rem;
  font-size: 1.6rem;
  font-weight: 500;
}

.c_header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  border-radius: 12px;
  border: 0.1rem solid #d5d5d5;
  margin-bottom: 10px;
  margin-top: 20px;
  align-items: center;
  padding-bottom: 30px;
}

.c_header img {
  padding-left: 30px;
  margin: 20px 0px 20px 0px;
  height: 24px;
}

.c_headline {
  font-size: 24px;
  font-weight: 700;
  padding-left: 15px;
  margin: 20px 0;
  color: rgba(159, 19, 46, 1);
}
.c_num {
  margin-left: 7px;
  padding: 2px 14px;
  border-radius: 11px;
  color: white;
  font-size: 14px;
  font-weight: 700;
  background: linear-gradient(180deg, #db3956, #9f142f);
}

.q_editbtn span {
  font-size: 1.5rem;
}
@media only screen and (max-width: 767px) {
  .content {
    display: flex;
    flex-direction: column;
    width: 86%;
    margin: 7%;
    padding: initial;
  }

  .q_pagename {
    font-size: 20px;
  }
  .q_headline {
    font-size: 16px;
    padding-left: 10px;
  }
  .backheader img {
    width: 15px;
    height: 16px;
    object-fit: contain;
    align-self: center;
  }
  .backheader button {
    font-size: 12px;
    width: max-content;
    height: 25px;
  }

  .q_linkbtn {
    font-size: 12px;
  }

  .q_cheader {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .q_cfrontheader {
    flex: 1 1 100%;
  }

  .q_cheadline {
    font-size: 18px;
  }

  .q_clastheader {
    margin-left: auto;
  }

  .q_clastheader button {
    width: 70px;
    height: 25px;
    font-size: 12px;
  }

  .q_ctextarea {
    font-size: 14px;
  }

  .textnum {
    font-size: 12px;
    margin-top: 10px;
  }

  .c_header img {
    height: 20px;
  }
  .c_headline {
    font-size: 20px;
    padding-left: 10px;
  }
  .c_num {
    font-size: 13px;
    padding: 2px 13px;
  }
}
