.alarmContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 50px;
    left: 250px;

    width: 250px;
    height: 280px;
    z-index: 900;
    background: white;
    border-radius: 12px;
    margin-top: 10px;
    box-shadow:  0px 5px 30px 2px #00000033;
    overflow-y: scroll;
    overflow-x: hidden;
}

@media screen and (max-width: 1100px) {
    .alarmContainer {
    }
}

.close_btn {
  cursor: pointer;
  width: 20px;
  height: 20px;
  margin-left: 120px;
  margin-top: 10px;
}

.alarmTitleWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  position: absolute;
  top: 2px;
}

#alarmTitle {
  color: #9f132e;
  font-weight: 800;
  font-size: 16px;
  margin-top: 10px;
  margin-left: 10px;
}

.alarmContent {
  max-height: 200px;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  margin-left: 40px;
}
.alarmLink {
  text-decoration: none;
}

.alarmText {
  margin-bottom: 5px;
  text-decoration: none;
  color: black;
  line-height: 25px;
  height: 20px;
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 12px;
  margin-left: 8px;
  font-weight: 800;
}
