/* styles.css */
.bkbox {
    /* 다른 스타일을 적용하는 코드 */
    width: 100%;
    max-height: 140px; /* 최대 높이 설정 */
    overflow: hidden;
    position: relative;
    border-radius: 12px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 20px;
    padding: 20px;
    box-sizing: border-box;
    cursor: pointer;
    border: 0.5px solid rgba(213, 213, 213, 1);
  }
  
  .contents {
    /* 다른 스타일을 적용하는 코드 */
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 0px 5px 0px;
    box-sizing: border-box;
  }
  
  .title {
    color: rgba(159, 19, 46, 1);
  }
  
  .contentbox {
    width: 100%;
  }
  
  .content {
    width: 100%;
    /* 텍스트가 넘칠 때 설정 */
    white-space: nowrap;
    overflow: hidden;
  }
  
  .morelink {
    cursor: pointer;
    display: block;
    margin-top: 4px;
    color: blue; /* 링크 색상을 원하는 색상으로 조정 */
  }
  