.mobileChatbotContainer {
  height: 100%;
}

.mobileChatbotWrap {
  height: 100%;
  min-height: 700px;
}

.topBar {
  display: flex;
  flex-direction: row;
  background-color: #fef2f4;
  height: auto;
  width: 100%;
  align-items: center;
}

#title {
  font-weight: 800;
  font-size: 18px;
  color: #9f132e;
  cursor: default;
  text-align: center;
  width: 85px;
  border: none;
  background-color: #fef2f4;
}

.button {
  width: 85px;
  border: none;
  color: #747474;
  background-color: #fef2f4;
  cursor: pointer;
  text-align: start;
}

.chat {
  width: 100%;
  display: flex;
  max-height: 65vh;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.chat::-webkit-scrollbar {
  display: none; /* Chrome , Safari , Opera */
}

.defaultChat {
  position: relative;
  background-color: #fef2f4;
  margin-top: 25px;
  width: 90%;
  height: 100px;
  border-radius: 12px;
  margin-right: auto;
  margin-left: auto;
}

.characterContainer {
  position: relative;
  top: 20px;
  left: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d9d9d9;
  border-radius: 50%;
  width: 42px;
  height: 42px;
}

.chatText {
  position: relative;
  left: 90px;
  top: -20px;
  font-size: 12px;
}

.dots {
  position: relative;
  bottom: 75px;
  left: 505px;
  cursor: pointer;
  display: none;
}

.iconZip {
  display: flex;
  position: relative;
  bottom: 5%;
  left: 80%;
  right: 10px;
  flex-direction: row;
  width: 10px;
}

.icon {
  width: 15px;
  height: 15px;
  margin-right: 15px;
  cursor: pointer;
}

.suggest {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: right;
  width: 100%;
}
.referenceSection {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: right;
  width: 100%;
}
.ref {
  width: 100 px;
  font-weight: 700;
  color: #9f132e;
  font-size: 14px;
  position: relative;
  right: 50px;
}

.textBox {
  position: relative;
  right: 160px;
  margin-left: 300px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 10px;
  border: 1px solid #9f132e;
  width: 220px;
  height: 30px;
  border-radius: 20px;
  font-size: 12px;
  cursor: pointer;
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
}
@media (max-width: 380px) {
  .textBox {
    right: 200px;
  }
}
.textBox:hover {
  background-color: #9f132e;
  color: #fff;
}

.promptWrapContainer {
  height: 150px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  bottom: 0;
  right: 0;
}

.promptWrap {
  position: fixed;
  display: flex;
  bottom: 5vh;
  height: 100px;
  left: 10vw;
  width: 80vw;
  background-color: white;
  z-index: 10;
  border: 1px solid #9f132e;
  border-radius: 20px;
}
.prompt {
  overflow-y: scroll;
  position: relative;
  top: 20px;
  left: 10px;
  box-sizing: border-box;
  width: 80vw;
  line-height: 15px;
  max-height: 30px;
  resize: none;
  border: none;
}
/* ( 크롬, 사파리, 오페라, 엣지 ) 동작 */
.prompt::-webkit-scrollbar {
  display: none;
}

.prompt:focus {
  outline: none;
}
.prompt:disabled {
  background-color: #fff;
  color: #747474;
}

.sendBtn {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 70px;
  right: 15px;
  background-image: linear-gradient(to right, #9f132e, #de3a58);
  width: 40px;
  height: 20px;
  border-radius: 20px;
}

.sendBtnArrow {
  width: 15px;
  height: 15px;
}
