.chatbot {
  display: grid;
  grid-template-columns: repeat(6, minmax(16.67%, auto));
  grid-template-rows: repeat(auto-fill, minmax(10%, auto));
  border-radius: 20px;
  border-color: rgba(213,213,213,0.8);
  border: 0.1rem solid;
  background: linear-gradient(to bottom, #FFEEF0, #FFFFFF);
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

@media only screen and (max-width: 900px) {
  .chatBot {
    margin-right: calc((100vw - 750px) / 2);
    margin-left: calc((100vw - 750px) / 2);
  }
}
@media only screen and (max-width: 767px) {
  .chatBot {
    display: none;
  }
  .chatBot {
    display: none;
  }
}

/* .sideBar {
  display: flex;
  background: linear-gradient(to bottom, #9f132e, #de3a58);
  min-width: 150px;
  min-height: 400px;
  height: auto;
  border-radius: 12px 0px 0px 12px;
  justify-content: center;
} */

/* 챗봇박스 헤더 - 로고, 도움말/초기화 버튼 포함 */
.chatbotHeader {
  grid-column: 1/6 span;
  grid-row: 1/2;
  display: flex;
  flex: row;
  justify-content: space-between;
  margin-left: 3.2rem;
  margin-right: 3.2rem;
  border-bottom: 0.1rem solid rgba(213, 213, 213, 0.5);
}

.title {
  display: flex;
  flex: row;
  align-items: center;
  font-weight: 700;
  font-size: 2.4rem;
  color: rgb(0, 0, 0);
  cursor: default;
  margin-left: 1.8rem;
}
.haho {
  margin-right: 1.6rem;
  width: 4rem;
  height: 4rem;
  padding: 0.3rem;
  border-radius: 50%;
  background: linear-gradient(to bottom, #FF768F, #DE3A58);;
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 0;
  margin: 0;
  gap: 1.6rem;
}
.button{
  display: flex;
  align-items: center;
}
.smallIcon {
  width: 1.4rem;
  height: 1.4rem;
  margin-right: 0.4rem;
  filter: hue-rotate(0deg) brightness(0.8);
  vertical-align: middle;
}
.buttonText {
  height: 1.7rem;
  font-size: 1.4rem;
  border: none;
  color: rgba(158, 158, 158, 1);
  background: none;
  cursor: pointer;
  text-align: left;
  margin: 0;
  padding: 0;
}

/* 입력창을 포함한 챗봇 컨테이너 */
.chatbox {
  display: flex;
  flex-direction: column; /* 세로 방향으로 배치 */
  flex: 1; /* 가로 방향으로 flex 1 */
  align-items: center;
  /* width: 900px; */
  height: 100%;
}

/* 대화만 포함하는 챗봇 컨테이너 */
.chat {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  width: 100%;
}
.initialChatbox{

}
.defaultChat {
  position: relative;
  background-color: #fef2f4;
  margin-top: 25px;
  width: 550px;
  height: 100px;
  border-radius: 12px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  background-color: #fef2f4;
  margin-top: 25px;
  width: 550px;
  height: 100px;
  border-radius: 12px;
  margin-right: auto;
  margin-left: auto;
}

.characterContainer {
  position: relative;
  top: 20px;
  left: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d9d9d9;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  position: relative;
  top: 20px;
  left: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d9d9d9;
  border-radius: 50%;
  width: 42px;
  height: 42px;
}

.chatText {
  position: relative;
  left: 90px;
  top: -20px;
  font-size: 12px;
  position: relative;
  left: 90px;
  top: -20px;
  font-size: 12px;
}

.dots {
  position: relative;
  bottom: 75px;
  left: 505px;
  cursor: pointer;
  display: none;
  position: relative;
  bottom: 75px;
  left: 505px;
  cursor: pointer;
  display: none;
}

.iconZip {
  display: flex;
  position: relative;
  bottom: 5px;
  left: 450px;
  flex-direction: row;
  width: 10px;
  display: flex;
  position: relative;
  bottom: 5px;
  left: 450px;
  flex-direction: row;
  width: 10px;
}

.icon {
  width: 14px;
  height: 14px;
  margin-right: 15px;
  cursor: pointer;
  width: 15px;
  height: 15px;
  margin-right: 15px;
  cursor: pointer;
}


/* 챗봇 추천 질문 컨테이너 */
.suggestContainer {
  display: flex;
  width: calc(100% - 100px);
  flex-direction: column;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 14px;
}

.suggestScrollbar {
  display: flex;
  flex-direction: row;
  width: 500px;
  flex: 1;
  overflow-x: hidden;
}
.scrollbarContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  margin-left: 0;
  margin-right: 0;
  overflow-x: visible; /* 필요시 가로 스크롤을 표시 */
}
.suggest {
  position: relative;
  display: flex;
  flex-direction: row;
  opacity: 1;
  transition: opacity 0.5s ease;
}

/* 추천 질문 내의 각 항목 */
.textBox {
  margin-left: 0px;
  margin-right: 10px;
  font-weight: 550;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #9f132e;
  width: 130px;
  height: 20px;
  border-radius: 20px;
  font-size: 9px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding-left: 23px;
  padding-right: 18px;
  text-align: center;
}

.textBox:hover {
  background-color: #9f132e;
  color: #fff;
}

#ref {
  font-weight: 700;
  color: #9f132e;
  font-size: 13px;
}

.promptWrap {
  display: flex;
  width: calc(100% - 100px);
  height: 60px;
  border: 1px solid #9f132e;
  border-radius: 20px;
  margin-bottom: 20px;
  margin-top: 0px;
}
.prompt {
  overflow-y: scroll;
  position: relative;
  top: 0px;
  left: 0px;
  box-sizing: border-box;
  width: calc(100% - 40px);
  line-height: 15px;
  max-height: 30px;
  border: none;
  margin-right: 20px;
  margin-left: 20px;
  resize: none;
  padding-top: 10px;
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}

/* ( 크롬, 사파리, 오페라, 엣지 ) 동작 */

/* 스크롤바의 전체 너비를 설정 */
::-webkit-scrollbar {
  width: 10px; /* 세로 스크롤바의 너비 */
  height: 12px; /* 가로 스크롤바의 높이 */
}

/* 스크롤바 트랙 */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* 스크롤바 핸들 */
::-webkit-scrollbar-thumb {
  background: #d7d7d7;
  border-radius: 10px;
  border: 2px solid #f1f1f1; /* 핸들에 테두리를 추가하여 더 세련된 효과 */
}

/* 스크롤바 핸들 (호버 상태) */
::-webkit-scrollbar-thumb:hover {
  background: #c3c3c3;
}

::-webkit-scrollbar:horizontal:hover {
  overflow-x: scroll;
}

.prompt:focus {
  outline: none;
  outline: none;
}
.prompt:disabled {
  background-color: #fff;
  color: #747474;
  background-color: #fff;
  color: #747474;
}

.sendBtn {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 65px;
  right: 10px;
  background-image: linear-gradient(to right, #9f132e, #de3a58);
  width: 50px;
  height: 25px;
  border-radius: 20px;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 30px;
  right: 10px;
  background-image: linear-gradient(to right, #9f132e, #de3a58);
  width: 50px;
  height: 25px;
  border-radius: 20px;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

hr {
  width: 100px;
}
