.dropdown-container{
  cursor: pointer;
}
.dropdown{
  width: 166px;
  margin-left: 20px;
  border-bottom: 1px solid rgba(116, 116, 116, 1);
  cursor: pointer;
}

.dropdowncontrol{
  border: none;
  cursor: pointer;
}


.dropdownmenu{
font-size: 16px;
color: rgba(116, 116, 116, 1);
cursor: pointer;
}

.dropdownph{
  font-size: 16px;
  font-weight: 400;
  color: rgba(116, 116, 116, 1);
  cursor: pointer;
}


@media only screen and (max-width: 767px) {
.dropdown{
  width: 125px;
}

.dropdownmenu, .dropdownph{
  font-size: 14px;
}

}