.dropdown-container {
  cursor: pointer;
}

.dropdown {
  width: 166px;
  margin-left: 20px;
  border-bottom: 1px solid rgba(116, 116, 116, 1);
  cursor: pointer;
}

.dropdowncontrol {
  border: none;
  cursor: pointer;
  padding-right: 25px;
}

.dropdownmenu {
  font-size: 3rem;
  color: rgba(116, 116, 116, 1);
  cursor: pointer;
}

.dropdownph {
  font-size: 2rem;
  font-weight: 400;
  color: rgba(116, 116, 116, 1);
  cursor: pointer;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@media only screen and (max-width: 767px) {
  .dropdown {
    width: 125px;
  }

  .dropdownmenu {
    font-size: 2.7rem;
  }

  .dropdownph {
    font-size: 2rem;
  }
}
