body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}
/* .alarmModalContainer {
    height: 0;
    width: 0;
} */
.container {
  border-bottom: 0.5px solid #d5d5d5;
  box-shadow: 0px 2px 1px 0px #0000001a;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .container {
    transition: all 0.3s ease;
    position: relative;
    border-bottom: 0px;
    box-shadow: none;
  }
}

.flexContainer {
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  column-gap: 2.4rem;
  width: 100%;
  height: 8rem;
  align-items: center;
}
@media only screen and (max-width: 767px) {
  .flexContainer {
    position: relative;

    height: 60px;
    justify-content: flex-end;
    align-items: normal;
  }
}
.navHome {
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  color: #979797;
  font-weight: 600;
  display: inline-flex; /* Use inline-flex to keep the buttons in a single line */
  align-items: center; /* Align items vertically in the center */
  white-space: nowrap; /* Prevent text from wrapping to the next line */
  font-size: 1.9rem;
}
.navDocs {
  background-color: #ffffff;
  border: none;
  color: #979797;
  font-weight: 600;
  display: inline-flex; /* Use inline-flex to keep the buttons in a single line */
  align-items: center; /* Align items vertically in the center */
  white-space: nowrap; /* Prevent text from wrapping to the next line */
  font-size: 1.9rem;
}
.navDebate {
  background-color: #ffffff;
  border: none;
  color: #979797;
  font-weight: 600;
  display: inline-flex; /* Use inline-flex to keep the buttons in a single line */
  align-items: center; /* Align items vertically in the center */
  white-space: nowrap; /* Prevent text from wrapping to the next line */
  font-size: 1.9rem;
}
.navQuestions {
  background-color: #ffffff;
  border: none;
  color: #979797;
  font-weight: 600;
  display: inline-flex; /* Use inline-flex to keep the buttons in a single line */
  align-items: center; /* Align items vertically in the center */
  white-space: nowrap; /* Prevent text from wrapping to the next line */
  font-size: 1.9rem;
}

div.navHome:hover,
div.navDocs:hover,
div.navDebate:hover {
  font-weight: bold !important;
  color: black !important;
}

/* 현재 경로에 있을 때 텍스트 색상 변경 */
.active {
  color: black;
}

.logoContainer {
  grid-column: 2/3;
  display: inline-block;
  justify-content: center;
  align-items: bottom;
}

@media only screen and (max-width: 767px) {
  .logoContainer {
    display: none;
  }
}

.mobilelogoContainer {
  display: none;
}
@media only screen and (max-width: 767px) {
  .mobilelogoContainer {
    display: flex;
    min-width: 60px;
    justify-content: center;
    align-items: bottom;
    margin-left: 3.4rem;
  }
}

@media only screen and (max-width: 767px) {
  .inputcontainer {
    display: none;
  }
}
.icon {
  width: 20px; /* Adjust the size as needed */
  height: 20px; /* Adjust the size as needed */
  margin-right: 15px; /* Space between icon and text */
}

.navContainer_right {
  grid-column: 11/14;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@media only screen and (max-width: 767px) {
  .navContainer_right {
    display: none;
  }
}
.nicknameContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.nickname {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.nicknameText {
  font-weight: 700;
  font-size: 1.7rem;
  margin-right: 0.3rem;
}
@media only screen and (max-width: 767px) {
  .nicknameText {
    font-size: 3.5rem;
  }
}

/* 링크가 방문된 상태에서도 동일한 스타일을 유지하도록 설정 */
.mobileLoginText:visited {
  color: black; /* 방문 후에도 색상이 유지되도록 설정 */
  text-decoration: none; /* 밑줄 제거 */
}

.honorific {
  font-weight: 600;
  font-size: 1.7rem;
}
@media only screen and (max-width: 767px) {
  .honorific {
    font-size: 3.5rem;
    font-weight: 600;
  }
}

.arrowDown {
  width: 10px;
  height: 6px;
  margin-left: 7px;
}

.dropdownMenu {
  display: none; /* 기본적으로 보이지 않음 */
  position: absolute;
  top: 100%; /* 닉네임 아래에 위치 */
  left: 0;
  background-color: #000; /* 배경색: 검정 */
  border-radius: 8px;
  padding: 10px 0;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  min-width: 150px;
}

.dropdownMenu div {
  padding: 8px 0;
  cursor: pointer;
}

/* nickname에 hover할 때 dropdownMenu 표시 */
.nicknameContainer:hover .dropdownMenu {
  display: block;
}

/* 드롭다운 메뉴의 각 항목 */
.menuItem {
  display: block;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  color: #fff; /* 텍스트 색상: 흰색 */
  background-color: transparent;
  border: none;
  text-align: left;
  cursor: pointer;
  width: 100%;
}

/* 드롭다운 항목 호버 시 */
.menuItem:hover {
  background-color: #333; /* 호버 시 배경색: 짙은 회색 */
  color: #fff; /* 텍스트 색상 유지 */
}

/* 버튼에 아웃라인 없애기 */
.menuItem:focus {
  outline: none;
}

.navContainer_threeItem {
  grid-column: 8/11;
  display: flex; /* flexbox 사용 */
  justify-content: space-between;
  align-items: center; /* 세로 중앙 정렬 */
  height: 100%; /* 부모 요소와 동일한 높이 */
  flex: 1;
  flex-direction: row;
}

@media only screen and (max-width: 767px) {
  .navContainer_threeItem {
    display: none;
  }
}

.logo {
  width: 100%;
  align-items: center;
}
@media only screen and (max-width: 767px) {
  .logo {
    width: 11.875rem;
    height: 3.666rem;
  }
}

.buttonWrap {
  display: none;
}
@media only screen and (max-width: 767px) {
  .buttonWrap {
    display: flex;
    align-items: center;
    flex-direction: row;
  }
}

.mobileButton {
  display: none;
}
@media only screen and (max-width: 767px) {
  .mobileButton {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 3.4rem;
    width: 3.7rem;
    height: 3.7rem;
  }
}

#mobileHeaderSearch {
  margin-right: 20px;
}

/* .mypageWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100px;
} */

.signContainer {
  display: flex;
}

.registerBtn {
  margin-right: 5.1rem;
}

.registerBtn,
.loginBtn {
  outline: none; /* 기본 아웃라인 제거 */
  border: none; /* 기본 테두리 제거 */
  box-shadow: none; /* 기본 그림자 제거 */
  background: none; /* 배경색 제거 */
  cursor: pointer;
  font-weight: 700;
  font-size: 1.9rem;
  white-space: nowrap;
}
.registerBtn a:visited {
  text-decoration: none; /* 호버 및 클릭 시에도 밑줄 제거 */
}
.registerBtn a {
  text-decoration: none; /* 모든 상태에서 밑줄 제거 */
  color: inherit; /* 부모 요소의 색상을 상속 */
  font-weight: 700;
  font-size: 1.9rem;
}

.registerBtn a:hover,
.registerBtn a:active {
  text-decoration: none; /* 호버 및 클릭 시에도 밑줄 제거 */
}

.repBadge {
  width: 3.8rem;
  height: 3.8rem;
  border-radius: 50%;
  border: 0.1rem solid #d5d5d5;
  margin-right: 1.5rem;
}

.searchInputContainer {
  grid-column: 3/7;
}

@media only screen and (max-width: 767px) {
  .searchInputContainer {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  .repBadge {
    margin-left: 3.75rem;
    width: 7rem; /* 모바일 화면에서는 더 작은 크기로 설정 */
    height: 7rem;
    margin-right: 10px; /* 여백도 모바일에 맞게 조정 */
  }
}

.mobileHeader {
  display: none;
}
@media only screen and (max-width: 767px) {
  .mobileHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(169, 169, 169, 0.5);
  z-index: 20; /* Place behind the menu but in front of other content */
}

.mobileHamburger {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 80px;
}

.mobileHamburgerMenu {
  width: 130px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.mobileMenuText {
  color: #000000;
  border: none;
  font-size: 2.45rem;
  font-weight: 500;
}
.logOutContainer {
  margin-top: auto; /* 로그아웃 버튼을 맨 아래로 */
  padding: 1rem;
}
.logOutText {
  font-size: 2.61rem;
  font-weight: 500;
  color: #979797;
}
.mobileMenuWrap {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: -100%;
  width: 80%;
  height: 100%;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: right 0.3s ease;
  z-index: 10; /* 초기 상태에서는 낮은 z-index를 유지 */
  justify-content: space-between; /* 위, 아래 요소들을 균등하게 배치 */
  padding-bottom: 2rem; /* 하단에 여유 공간 추가 */
}

.mobileMenuWrap.open {
  right: 0;
  z-index: 30; /* 메뉴가 열릴 때 z-index를 높여 다른 요소 위에 표시 */
}
.mobileSearchWrap {
  position: absolute;
  top: 40px;
  right: 0px;
  transition: all 0.3s ease;
}

.mobileInputContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  /* margin-top: 10px; */
  margin-bottom: 10px;
}

.mobileHeaderInput {
  border: 1px solid #d5d5d5;
  border-radius: 35px;
  width: 230px;
  height: 25px;
  margin-left: 0px;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.mobileSearchIcon {
  width: 15px;
  height: auto;
  position: relative;
  right: 30px;
  top: 5px;
  z-index: 20;
  cursor: pointer;
}

.loginbtn {
  color: black;
  background-color: transparent;
  min-width: 50px;
  height: 20px;
  border: none;
  font-weight: 700;
  font-size: 1.9rem;
  cursor: pointer;
  padding: 0;
  margin-right: 5px;
}

.mobileUserInfo {
  display: flex;
  height: 17%;
  align-items: center;
  padding-top: 4rem;
}

.mobileLoginText {
  display: flex;
  height: 17%;
  padding-top: 4rem;
  margin-left: 3.75rem;
  align-items: center;
  text-decoration: none; /* 밑줄 제거 */
  color: black; /* 텍스트 색상 설정 */
  font-weight: 700;
  font-size: 3.5rem;
}

.mobileMenuBtn {
  text-decoration: none;
  height: 7%;
  color: black;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  padding: 0rem 1rem;
  cursor: pointer;
  border-top: 1px solid #d5d5d5;
}
.mobileLogOutBtn {
  text-decoration: none;
  height: 7%;
  color: black;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  padding: 1rem;
  cursor: pointer;
}

.mobileIcon {
  width: 3.2rem;
  height: 3.2rem;
  margin-left: 3.5rem;
  margin-right: 2rem;
}

#mobileBookmark {
  width: 3.2rem;
  margin-left: 3.5rem;
  margin-right: 2rem;
}

.randomDocs {
  width: 15px;
  height: auto;
  cursor: pointer;
}
