body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}
.container {
    display: flex; 
    border-bottom: 0.5px solid #D5D5D5;
    box-shadow: 0px 4px 8px 0px #0000001A;
    border-radius: 0px 0px 20px 20px;
    width: 100%;
}
@media screen and (max-width: 767px) {
    .container {
        transition: all 0.3s ease;
        position: relative;
    }
}

.headerContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    position: relative;
}
@media screen and (max-width: 767px) {
    .headerContainer {
        align-items: normal;
    }
}


.headerButton {
    background-color: #ffffff;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: #747474;    
    font-weight: 500;
    margin-right: 40px;
    display: inline-flex; /* Use inline-flex to keep the buttons in a single line */
    align-items: center; /* Align items vertically in the center */
    white-space: nowrap; /* Prevent text from wrapping to the next line */
}

.headerLoginButton {
    background-color: rgba(252, 188, 200, 0.2); 
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: inherit; /* 폰트 색상을 상속 */
    color: #747474;
    margin-right: 25px;
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
    border-radius: 20px; /* 둥근 모서리 추가 */
    padding: 10px 20px; /* 여백 추가 */
    transition: background-color 0.3s ease; /* 배경색 전환 애니메이션 */
}

.headerLoginButton:hover {
    background-color: #ffe5e5; /* 호버 시 배경색 */
}


.logoContainer {
    display: inline-block;
    min-width: 60px;
    justify-content: center;
    align-items: bottom; 
}

.flexContainer {
    display: flex;
    width: 100vw;
    height: 25px;
    margin-left:0px;
    align-items: center;
}
@media only screen and (max-width: 767px) {
    .flexContainer {
        position: relative;
        right:50px;
        width: 500px;
    }
}

.inputcontainer {
    display: flex;
    width: 250px;
    position: relative;
    margin-right: 30px;
}
@media only screen and (max-width: 767px) {
    .inputcontainer {
        position: absolute;
        top: 20px;
        right: 100px;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
}

.navContainer_right {
    display: flex;
    min-width: 150px;
    justify-content: space-around;
    align-items: center;
}
@media only screen and (max-width: 767px) {
    .navContainer_right {
        display: none;
    }
}

.navContainer_left {
    display: inline-block;
    margin-left: 60px;
    margin-right: 0px;
    right: 10px;
    flex: 1;
}

@media only screen and (max-width: 767px) {
    .navContainer_left {
        display: none;
    }
}
.headerInput {
    border: 1px solid #D5D5D5;
    border-radius: 35px;
    width: 350px;
    height: 25px;
    margin-left: -0px;
    padding-left: 20px;
    padding-right: 35px;
}

.icon {
    width: 20px; /* Adjust the size as needed */
    height: 20px; /* Adjust the size as needed */
    margin-right: 15px; /* Space between icon and text */
  }


.searchIcon {
    width: 15px;
    height: auto;
    position: relative;
    right: 30px;
    z-index: 20;
    cursor: pointer;
}


.logo {
    width: 60px;
    height: 19px;
    margin-left: 60px;
    align-items: center;
}
@media only screen and (max-width: 767px) {
    .logo {
        position: absolute;
        top: 20px;
        left: 10px;
    }
}

.buttonWrap {
    display: none;
}
@media only screen and (max-width: 767px) {
    .buttonWrap {
        display: flex;
        position: absolute;
        top: 20px;
        right: -15px;
        flex-direction: row;
        margin-right: -30px;
        max-width: 160px;
        height: 30px;
    }
}

.mobileButton {
    display: none;
}
@media only screen and (max-width: 767px) {
    .mobileButton {
        display: block;
        cursor: pointer;
        position: relative;
        width: 20px;
        height: 20px;
        margin-right: 15px;
    }
}

#mobileHeaderSearch {
    margin-right: 20px;
}

.signinButton {
    cursor: pointer;
    width: 25px;
    height: 25px;
    margin-right: 30px;
}

.mypageWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100px;
}

.mypageBtn {
    width: 90px;
    height: 30px;
    position: absolute;
    left: 0;
}

.repBadge {
    width: 25px;
    height: 25px;
    position: absolute;
    bottom: -12px;
    right: 12px;
    border-radius: 50%;
    background-color: #FF6F6F;
    color: white;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
}

.nicknameText {
    font-size: 12px;
    margin: 0;
    padding: 0;
    width: 50px;
    max-width: 100px;
    position: absolute;
    left: 10px;
    z-index: 20;
    color: white;
    overflow: hidden;  
    text-overflow: ellipsis;  
    white-space: nowrap;  
}

.mobileHeader {
    display: none;
}
@media only screen and (max-width: 767px) {
    .mobileHeader {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }
}

.mobileHamburger {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50px;
    right: 80px;
}

.mobileHamburgerMenu {
    width: 130px;
    height: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.mobileMenuText {
    text-decoration: none;
    margin-left: 10px;
    color: black;
    border: none;
    background-color: transparent;
    font-size: 16px;
    margin: 0;
}

.mobileMenuWrap {
    display: flex;
    flex-direction: column;
    position: relative;
}

.mobileSearchWrap {
    position: absolute;
    top: 40px;
    right: 0px;
    transition: all 0.3s ease;
}


.mobileInputContainer {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    /* margin-top: 10px; */
    margin-bottom: 10px;
}

.mobileHeaderInput {
    border: 1px solid #D5D5D5;
    border-radius: 35px;
    width: 230px;
    height: 25px;
    margin-left: 0px;
    padding-left: 20px;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.mobileSearchIcon {
    width: 15px;
    height: auto;
    position: relative;
    right: 30px;
    top: 5px;
    z-index: 20;
    cursor: pointer;
}

.loginbtn {
    color: black;
    background-color: transparent;
    min-width: 50px;
    height: 20px;
    border: none;
    font-size: 15px;
    cursor: pointer;
    padding: 0;
    margin-right: 5px;
}

.mobileMenuBtn {
    text-decoration-line: none;
    color: black;
    background-color: transparent;
    width: 150px;
    border: none;
    display: flex;
    justify-content: flex-start;
    margin-right: 80px;
    margin-top: 10px;
    cursor: pointer;
}

.mobileIcon {
    width: 22px;
    height: 22px;
    padding: 2px;
    margin-right: 15px;
}

#mobileBookmark {
    width: 18px;
    margin-left: 2px;
}

.randomDocs {
    width: 15px;
    height: auto;
    cursor: pointer;
}