.hidden {
  display: none;
}
.historyBox {
  width: 100%;
  height: 17.5rem;
  border-radius: 1rem;
  box-shadow: 0rem 0.5rem 2rem -0.5rem #0000001f;
  margin-bottom: 2rem;
  box-sizing: border-box;
  border: 0.1rem #d5d5d5 solid;
  display: grid;
  grid-template-columns: 1fr 4.5fr;
  padding: 1.3rem 0;
}
.contents {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}
.contentsOne {
  min-width: 12rem;
  border-right: 0.1rem #d5d5d5 solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contentsTwo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
}
.summaryContainer {
  margin-right: 3rem;
}
.rightContainer {
  min-width: 16rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.infoLine {
  width: 100%;
  justify-content: flex-end;
  display: flex;
  align-items: center;
  margin-bottom: 2.6rem;
}
.contentsTwo img {
  cursor: pointer;
}
.versionContainer {
  position: relative;
  margin-top: 0.6rem;
}
.version {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: 700;
  font-size: 1.95rem;
}
.bigversion {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: 700;
  font-size: 2.3rem;
}
.versionimg {
  width: 6.7rem;
  height: 6.7rem;
}
.bigversionimg {
  width: 8rem;
  height: 8rem;
}
.docTitleContainer {
  padding: 0 1.3rem;
}

.docTitle {
  font-weight: 700;
  font-size: 2.4rem;
  color: #de3a58;
  margin-top: 1.5rem;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 3rem;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  cursor: pointer;
}
.summaryTitle {
  font-weight: 600;
  font-size: 2rem;
  color: #747474;
  margin-bottom: 0.4rem;
}
.summary {
  font-weight: 700;
  font-size: 3.2rem;
  text-overflow: ellipsis;
  overflow: hidden;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}
.user {
  font-weight: 600;
  font-size: 1.7rem;
  margin-right: 0.6rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.timestamp {
  min-width: max-content;
  font-weight: 600;
  font-size: 1.7rem;
  color: #747474;
  margin-right: 1.1rem;
}
.threedot {
  padding-bottom: 0.4rem;
}
.versionBtns {
  width: 45rem;
  padding-top: 1.8rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.allversionBtns {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  gap: 1.2rem;
}
.versionbtn {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  font-weight: 600;
  font-size: 1.5rem;
}
.rawviewimg {
  width: 2rem;
  height: 1.5rem;
}
.vercmpimg {
  width: 1.7rem;
  height: 1.7rem;
}
.rollbackimg {
  width: 1.6rem;
  height: 1.5rem;
  margin-bottom: 0.3rem;
}

/* 모바일 뷰 */
.mobileContentsTwo {
  display: none;
}
@media only screen and (max-width: 767px) {
  .historyBox {
    height: 18rem;
    border-radius: 2.7rem;
    padding: 1.6rem 0;
    box-shadow: revert;
    border: 0.1rem solid #d5d5d5cc;
  }
  .versionimg {
    width: 5.5rem;
    height: 5.5rem;
  }
  .version {
    font-size: 1.6rem;
  }
  .docTitle {
    background: linear-gradient(180deg, #ff768f 0%, #de3a58 100%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 1.8rem;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    height: 4.5rem;
    margin-top: 1rem;
  }
  .contentsOne {
    border-right: 0.05rem #d5d5d5 solid;
    padding-top: 1.5rem;
  }
  .contentsTwo {
    display: none;
  }
  .mobileContentsTwo {
    display: flex;
    flex-direction: column;
    padding: 0 2.2rem;
  }
  .infoLine {
    box-sizing: border-box;
    margin-bottom: 0;
  }
  .summary {
    margin-bottom: 2rem;
    -webkit-line-clamp: 1;
    line-clamp: 1;
  }
  .allversionBtns {
    flex-direction: row;
    margin-bottom: 1.5rem;
  }
  .versionbtn {
    font-size: 1.6rem;
  }
}
