.Nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Button {
  border: none;
  border-radius: 0.8rem;
  margin: 0;
  padding: 0;
  background: transparent;
  color: #747474;
  font-size: 1.6rem;
  font-weight: 600;
  display: flex;
  align-items: center;

  &:hover {
    cursor: pointer;
    /* color: rgba(159, 19, 46, 1);
    transform: translateY(-2px); */
  }

  &[disabled] {
    cursor: revert;
    color: black;
    /* transform: revert; */
  }

  &[aria-current] {
    background: transparent;
    cursor: revert;
    /* transform: revert; */
    color: black;
  }
}

.Numbers {
  display: flex;
  gap: 0.8rem;
}
.mobileNumbers {
  margin-left: 1rem;
  margin-right: 1rem;
}
