.PopularDebateContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: rgb(253, 243, 241);
  border-radius: 25px;
  height: 27rem;
  justify-content: center;
  padding: 3rem;
}

.header {
  display: flex;
  padding-top: 3rem;
  flex-direction: row;
  justify-content: center;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 1.2rem;
}

.title {
  color: #f86982;
  margin-bottom: 2rem;
  font-weight: 600;
  display: inline-block; /* 블록처럼 동작해서 배경색과 패딩을 적용 */
  color: #fff; /* 텍스트 색상 흰색 */
  background: linear-gradient(180deg, #ff768f 0%, #de3a58 100%); /* 그라디언트 배경 */
  padding: 1.25rem 2rem; /* 패딩을 추가하여 버튼처럼 보이도록 */
  border-radius: 50px; /* 모서리를 둥글게 */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* 그림자를 추가하여 떠 있는 느낌을 줌 */
  text-align: center; /* 텍스트 가운데 정렬 */
  text-decoration: none; /* 텍스트 장식 제거 */
  font-weight: bold; /* 버튼 텍스트 강조 */
  transition: transform 0.1s ease; /* 클릭 시 눌리는 효과를 위한 전환 효과 */
}
/* 클릭 시 효과 */
.title:active {
  transform: scale(0.97); /* 클릭할 때 살짝 눌리는 느낌을 줌 */
}

.subject {
  width: 100%;
  font-weight: 600;
  text-align: center;
  font-size: 2rem;
  overflow: hidden; /* 텍스트가 넘칠 경우 숨기기 */
  text-overflow: ellipsis; /* 넘치는 부분을 '...'으로 표시 */
}

.timeAgo {
  color: rgba(158, 158, 158, 1);
}

.commentCountContainer {
  display: flex;
  align-items: center;
}

.comment_count_img {
  margin-right: 1rem;
  width: 80%;
  height: 80%;
}

.commentCount {
  color: #f86982;
  font-weight: 600;
  margin-bottom: 0.4rem;
}
