.q_cheader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.q_cfrontheader {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.q_cheadline {
  font-size: 24px;
  font-weight: 700;
  color: black;
}

.q_cbox {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  font-size: 18px;
  border-radius: 12px;
  border: 1px solid rgba(213, 213, 213, 1);
  box-sizing: border-box;
  padding: 10px;
}
.q_ctextarea {
  resize: none;
  border: none;
  width: 100%;
  height: auto;
  padding: 8px;
  border-radius: 12px;
  font-size: 18px;
}

.q_ctextarea::placeholder {
  font-size: 20px;
  font-weight: 600;
  color: #cccbcb;
}

.q_ctextarea:focus {
  outline: none;
  border: none;
}

.q_clastheader {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
  margin-top: 7px;
}

.q_csubmit {
  background: linear-gradient(to left, rgba(159, 19, 46, 1), rgba(222, 58, 88, 1));
  width: 85px;
  border-radius: 50px;
  height: 35px;
  font-size: 14px;
  border: none;
  color: white; /* 기본 텍스트 색상 */
  cursor: pointer;
  margin-left: auto;
}

.q_csubmit.disabled {
  background: #d5d5d5; /* 비활성화 색상 */
  cursor: not-allowed; /* 비활성화된 상태에서 마우스 커서 변경 */
  color: #ffffff; /* 비활성화된 텍스트 색상 */
}

.textnum {
  font-size: 14px;
  color: rgba(116, 116, 116, 1);
  margin-right: 10px;
  margin-top: 15px;
}

@media only screen and (max-width: 767px) {
  .q_cheader {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .q_cfrontheader {
    flex: 1 1 100%;
  }

  .q_cheadline {
    font-size: 18px;
  }

  .q_clastheader {
    margin-left: auto;
  }

  .q_clastheader button {
    width: 70px;
    height: 25px;
    font-size: 12px;
  }

  .q_ctextarea::placeholder {
    font-size: 20px;
    font-weight: 600;
  }

  .textnum {
    font-size: 12px;
    margin-top: 10px;
  }
}
