/* custom-styles.module.css */

.ql-toolbar.ql-snow{
    border-bottom: 2px solid #ccc;
    box-sizing: border-box;
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    padding: 8px;
}
