/* styles.css */
.hidden {
  display: none;
}
.resultbox {
  display: flex;

  /* 다른 스타일을 적용하는 코드 */
  width: 100%;
  height: 17.5rem;
  overflow: hidden;
  position: relative;
  border-radius: 12px;
  margin-bottom: 20px;
  padding: 2rem;
  padding-left: 0;
  box-sizing: border-box;
  cursor: pointer;
  border: 0.5px solid rgba(213, 213, 213, 1);
}
.versionIcon {
  width: 20%;
  height: 70%;
}
.versionContainer {
  display: flex;
  position: relative;
  margin-right: 6rem;
  margin-left: 6rem;
  align-items: center;
  justify-content: center;
}
.version {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: 700;
  font-size: 16px;
}

.contents {
  /* 다른 스타일을 적용하는 코드 */
  width: 100%;
  height: auto;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  border-left: solid #d5d5d5 1px;
  padding-left: 5%;
}

.title {
  color: #000;
  font-size: 3.2rem;
  word-break: break-word;
  font-weight: 700;
}

.contentbox {
  width: 100%;
}

.content {
  font-size: 1.8rem;
  max-height: 6rem; /* 2줄 크기를 나타내는 값으로 조절 */
  overflow: hidden;
  text-overflow: ellipsis; /* 텍스트가 길 경우 ...으로 표시 */
  white-space: normal; /* 텍스트가 여러 줄에 나타날 수 있도록 합니다. */
  line-height: 2rem; /* 각 줄의 높이를 2em로 설정하여 2줄을 나타냅니다. */
  color: #747474;
  font-weight: 400;
}

.morelink {
  cursor: pointer;
  display: block;
  margin-top: 4px;
  color: blue; /* 링크 색상을 원하는 색상으로 조정 */
}
@media only screen and (max-width: 767px) {
  .resultbox {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    height: 120px; /* 최대 높이 설정 */
    overflow: hidden;
    position: relative;
    border-radius: 18px;
    margin-bottom: 20px;
    padding: 16px;
    box-sizing: border-box;
    cursor: pointer;
    border: 0.5px solid rgba(213, 213, 213, 1);
    padding-left: 0;
  }

  .versionContainer {
    display: flex;
    position: relative;
    grid-column: 1 / 2;
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  .contents {
    grid-column: 2/5;
    /* 다른 스타일을 적용하는 코드 */
    width: 95%;
    height: auto;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    border-left: solid #d5d5d5 2px;
    padding-left: 5%;
  }
  .version {
    top: 60%;
    font-size: 13px;
  }
  .versionImg {
    width: 45px;
  }
}
