.menubtn {
  border: none;
  background: none;
  cursor: pointer;
}
.menubtn img {
  width: 23.4px;
  object-fit: contain;
}

.menuitem {
  width: auto;
}

/* 모바일 뷰 */
@media only screen and (max-width: 767px) {
  .menucontainer ul {
    min-width: revert;
  }
}
