.hidden {
  display: none;
}
.wikiContentTitle {
  display: flex;
  font-size: 3.2rem;
  font-weight: 600;
  gap: 1rem;
}

.wikiContentTitleText {
  font-size: 3.2rem;
  font-weight: 600;
}
.wikiIndex {
  color: rgba(222, 58, 88, 1);
  font-size: 3.2rem;
}

.wikiArrow {
  height: 4rem;
}
.wikiArrowIcon {
  margin-right: 2rem;
  width: 4rem;
  height: 4rem;
}

.wikiContentBtns {
  display: flex;
  justify-content: space-between;
}

.wikiContentBtn {
  width: 8.2rem;
  height: 3.6rem;
  border: none;
  background: linear-gradient(to left, rgba(159, 19, 46, 1), rgba(222, 58, 88, 1));
  color: white;
  border-radius: 2rem;
  font-size: 1.4rem;
  font-weight: 700;
  cursor: pointer;
}

.wikiContentQuestionBtn {
  margin-left: 1.1rem;
  border: 1px solid rgba(159, 19, 46, 1);
  width: 8.2rem;
  height: 3.6rem;
  background: white;
  color: white;
  border-radius: 2rem;
  font-size: 1.4rem;
  font-weight: 700;
  cursor: pointer;
  color: #de3a58;
}
.wikiContents hr {
  width: 100%;
  margin-bottom: 0.8rem;
  color: rgba(0, 0, 0, 0.3);
}

.wikiContents {
  width: 100%;
  margin-bottom: 2.5rem;
}
.wikiContentlist {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: default;
  padding-bottom: 1rem;
}
.wikiContentlistOpen {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  cursor: pointer;
}
.wikiContentlistClose {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  cursor: pointer;
  padding-bottom: 2.4rem;
  border-bottom: 1px solid #d5d5d5;
}
.wikiContentlist .wikiText {
  font-size: 8rem;
  width: 100%;
  word-break: break-word;
  border-bottom: 1px solid #d5d5d5;
}
.wikiText a {
  width: 100%;
  font-size: 1.8rem;
  font-weight: 400;
  word-wrap: break-word; /* 단어 단위로 줄 바꿈 */
  display: block; /* 링크를 블록 레벨 요소로 만듭니다. */
}
.wikiText li {
  list-style-type: disc;
}

.wikiText * {
  font-size: 2rem;
}

/* 모바일 뷰 */
@media only screen and (max-width: 767px) {
  .wikiContentTitle {
    font-size: 15px;
    gap: 6.6px;
  }
  .wikiIndex,
  .wikiContentTitleText {
    font-size: 15px;
  }

  .wikiArrow {
    height: 20px;
  }
  .wikiArrowIcon {
    margin-right: 15px;
    width: 20px;
    height: 20px;
  }

  .wikiContentBtn {
    width: 45px;
    height: 21px;
    font-size: 9px;
  }

  .wikiContentQuestionBtn {
    margin-left: 7.3px;
    width: 45px;
    height: 21px;
    font-size: 9px;
  }

  .wikiContents hr {
    margin-bottom: 5px;
  }

  .wikiContents {
    margin-bottom: 16.6px;
  }
  .wikiContentlist {
    padding-bottom: 6.6px;
  }
  .wikiContentlistClose {
    padding-bottom: 16px;
  }

  .wikiText a {
    font-size: 13px;
  }

  .wikiText {
    padding-left: 26px !important;
  }

  .wikiText * {
    font-size: 13px;
  }
}
