.hidden {
  display: none;
}
.wikiContentTitle {
  display: flex;
  align-items: center;
  font-size: 3.2rem;
  font-weight: 600;
}

.wikiContentTitle span {
  font-size: 3.2rem;
  font-weight: 600;
}
.wikiIndex {
  color: rgba(222, 58, 88, 1);
  font-size: 3.2rem;
}

.wikiArrowIcon {
  margin-left: 2.2rem;
  margin-right: 1.5rem;
  width: 4rem;
  height: 4rem;
}

.wikiContentBtns {
  width: 115px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wikiContentBtn {
  width: 8.2rem;
  height: 3.6rem;
  border: none;
  background: linear-gradient(to left, rgba(159, 19, 46, 1), rgba(222, 58, 88, 1));
  color: white;
  border-radius: 2rem;
  font-size: 1.4rem;
  font-weight: 700;
  cursor: pointer;
}

.wikiContentQuestionBtn {
  margin-left: 1.1rem;
  border: 1px solid rgba(159, 19, 46, 1);
  width: 8.2rem;
  height: 3.6rem;
  background: white;
  color: white;
  border-radius: 2rem;
  font-size: 1.4rem;
  font-weight: 700;
  cursor: pointer;
  color: #de3a58;
}
.wikiContents hr {
  width: 100%;
  margin-bottom: 0.8rem;
  color: rgba(0, 0, 0, 0.3);
}

.wikiContents {
  width: 100%;
  margin-bottom: 2rem;
}
.wikiContentlist {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding-bottom: 1.7rem;
  border-bottom: 0.1rem solid #d5d5d5;
}
.wikiText {
  font-size: 8rem;
  width: 100%;
  word-break: break-word;
  border-bottom: 0.1rem solid #d5d5d5;
}
.wikiText a {
  width: 100%;
  font-size: 1.8rem;
  font-weight: 400;
  word-wrap: break-word; /* 단어 단위로 줄 바꿈 */
  display: block; /* 링크를 블록 레벨 요소로 만듭니다. */
}
.wikiText li {
  list-style-type: disc;
}

.wikiText * {
  font-size: 2rem;
}

/* 모바일 뷰 */
@media only screen and (max-width: 767px) {
  .wikiContentTitle span {
    font-size: 2.4rem;
  }
  .wikiIndex {
    font-size: 2.4rem;
  }
  .wikiArrowIcon {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
