.searchTitle {
  width: 89px;
  position: relative;
  font-size: 2.4rem;
  display: inline-block;
  font-family: Pretendard;
  color: #de3a58;
  text-align: left;
}
.searchInput {
  position: absolute;
  border-radius: 35px;
  background-color: #fff;
  border: 1px solid rgba(116, 116, 116, 0.5);
  box-sizing: content-box;
  width: 15%;
  height: 28px;
  padding-left: 50px;
  margin-top: 13.2px;
  font-size: 9.6px;
  color: #000;
  font-family: Pretendard;
}
.searchInputContainer{
  display: flex;
}
.searchIcon {
  width: 12px;
  height: 12px;
  position: relative;
  cursor: pointer;
  left: 6%;
  top: 3.3rem;
}
.cancelIcon {
  position: absolute;
  top: 18.5rem;
  width: 12px;
  height: 12px;
  cursor: pointer;
  margin-right: 28rem;
  right: 0px;
}

.hidden {
  visibility: hidden;
}

.result {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  padding-left: 10px;
}

.resultList {
  width: 170px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: black;
  font-size: 8px;
  font-weight: 700;
  cursor: pointer;
  padding-left: 10px;
  margin-bottom: 0px;

}

.linkTo {
  text-decoration: none; /* 밑줄 제거 */
  color: black; /* 기본 텍스트 색상 유지 */
}
