.searchTitle {
  width: 89px;
  position: relative;
  font-size: 24px;
  display: inline-block;
  font-family: Pretendard;
  color: #de3a58;
  text-align: left;
}
.searchInput{
  position: absolute;
  border-radius: 35px;
  background-color: #fff;
  border: 1px solid rgba(116, 116, 116, 0.5);
  box-sizing: content-box;
  width: 231px;
  height: 47px;
  padding-left: 50px;
  margin-top: 20px;
  font-size: 16px;
  color: #000;
  font-family: Pretendard;
}
.searchIcon{
  width: 20px;
  height: 20px;
  position: relative;
  cursor: pointer;
  left: 6%;
  top: 36px;
}
.cancelIcon{
  position: absolute;
  top: 233px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  margin-right: 190px;
  right: 0px;

}

.hidden {
  visibility: hidden;
}

.result {
  display: flex;
  flex-direction: column;
  width: 25%;
  margin-top: 50px;
  padding-left: 10px;
}

.resultList {
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: black;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  padding-left: 10px;
  margin-bottom: 0px;
}

.linkTo {
  text-decoration: none; /* 밑줄 제거 */
  color: black; /* 기본 텍스트 색상 유지 */
}
