.addTitle {
  width: 89px;
  position: relative;
  font-size: 24px;
  font-family: Pretendard;
  color: #de3a58;
  text-align: left;
}

.subTitle {
  width: 142px;
  position: relative;
  font-size: 18px;
  font-weight: 500;
  font-family: Pretendard;
  color: #747474;
  text-align: left;
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
}

.addBotton{
  background: linear-gradient(166deg, #FFF -32.12%, #FFA1B0 110.81%);
  border: 1px solid #DE3A58;
  border-radius: 12px;
  width: 281px;
  height: 111px;
  flex-shrink: 0;
  cursor: pointer
}

.none {
  display: none;
}

.hidden {
  visibility: hidden;
}
.addInput{
  border: 1px solid #DE3A58;
  border-radius: 12px;
  width: 269px;
  height: 89px;
  flex-shrink: 0;
  color: #000000;
  font-size: 16px;
  font-weight: 600;
  padding-left: 30px;
  padding-top: 20px;
  resize: none;

}
.createButton{
  width: 59.222px;
  height: 26px;
  cursor: pointer;
  border-radius: 21.667px;
  background: linear-gradient(90deg, #9F132E 30.34%, #DE3A58 100%);
  box-shadow: 0px 3.611px 14.444px -3.611px rgba(0, 0, 0, 0.20);
  border: none;
  color: white;
  margin-top: 10px;
}
.addPart{
  margin-bottom: 16px;
}