/* 스타일을 초기화하고 싶은 경우 */
.linkTo {
  text-decoration: none; /* 밑줄 제거 */
  color: black; /* 기본 텍스트 색상 유지 */
}

/* 클릭 시 스타일 변경하고 싶은 경우 */
.linkTo:hover {
  text-decoration: underline;
  text-decoration: none; /* 클릭 시 밑줄 표시 */
}
.recentTitle {
  width: 89px;
  position: relative;
  font-size: 14.5px;
  font-family: Pretendard;
  color: #de3a58;
  text-align: left;
  margin-bottom: 13.2px;
}
.recentLists {
  display: flex;
  flex-direction: column;
}
.recentLists ul {
  display: flex;
  justify-content: space-between;
  padding-left: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: black;
  margin-top: 6px;
  margin-bottom: 6px;
}
.listTitle {
  font-family: Pretendard;
  font-size: 11px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 144px;
}
.listTimestamp {
  font-size: 8px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: right;
  color: rgba(116, 116, 116, 1);
}
