.container {
  border-bottom: 1px solid rgba(213, 213, 213, 1);
  padding: 20px 0px;
}
.header {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.frontheader {
  display: flex;
  align-items: center;
}

.q_box {
  width: 26px;
  height: 26px;
  align-self: center;
}

.q_box img {
  padding-left: 0;
  width: 26px;
  height: 26px;
  margin: 0;
}

.num,
.user {
  font-size: 1.6rem;
  font-weight: 700;
}
.num {
  margin-right: 7px;
}

.date {
  font-size: 1.2rem;
  font-weight: 400;
  color: rgba(116, 116, 116, 1);
  margin-left: 14px;
}

.content {
  font-size: 14px;
  white-space: pre-wrap;
}

.debate_content {
  word-break: break-word;
  font-size: 2rem;
  font-weight:600 ;
}

@media only screen and (max-width: 767px) {
  .container {
    margin: 0;
    padding: 14px;
  }
}
