.container{
  margin: 0 30px;
  border-bottom: 1px solid rgba(213, 213, 213, 1);
  padding: 20px;
}
.header{
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.num, .user{
  font-size: 14px;
  font-weight: 700;
}

.user{
  margin-left: 7px;
}
.date{
  font-size: 12px;
  font-weight: 400;
  color: rgba(116, 116, 116, 1);
  margin-left: 14px;
}

.content{
  font-size: 14px;
}

@media only screen and (max-width: 767px) {
  .container{
    margin: 0;
    padding: 14px ;
  }


}