.container {
  margin-top: 4.7rem;
}
.title {
  padding-top: 13px;
  font-size: 12px;
  margin-bottom: 11px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.headline {
  font-weight: 700;
}

.content {
  padding-bottom: 2rem;
  display: flex;
  align-items: center;
  font-size: 4rem;
  font-weight: 700;
}

@media only screen and (max-width: 767px) {
  .container {
    margin: 16px 0;
  }
  .content {
    padding-bottom: 1rem;
    font-size: 5rem;
    gap: 1rem;
  }
}
