.addTitle {
  width: 89px;
  position: relative;
  font-size: 2.4rem;
  font-family: Pretendard;
  color: #de3a58;
  text-align: left;
  word-break: keep-all;

}
.sendBtn_red{
  cursor: pointer;
  background: linear-gradient(to right, #9f132e, #de3a58);
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  cursor: pointer;
  padding: 0.8rem;
  box-sizing: border-box;
  }
.sendBtn_grey{
    cursor: pointer;
    background: #D5D5D5;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    cursor: pointer;
    padding: 0.8rem;
    box-sizing: border-box;
}
  

.subTitle {
  width: 142px;
  position: relative;
  font-size: 1.8rem;
  font-weight: 500;
  font-family: Pretendard;
  color: #747474;
  text-align: left;
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
}

.addButton {
  background: linear-gradient(166deg, #fff -32.12%, #ffa1b0 110.81%);
  border: 1px solid #de3a58;
  border-radius: 12px;
  width: 100%;
  height: 12.5rem;
  flex-shrink: 0;
  cursor: pointer;
}

.none {
  display: none;
}
.textbox{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  font-size: 18px;
  border-radius: 12px;
  box-sizing: border-box;
  padding: 10px;
  flex-direction: row-reverse;
  background: white;
  border: 1px solid #de3a58;
}
.textarea {
  resize: none;
  border: none;
  width: 100%;
  height: auto;
  padding: 5px;
  border-radius: 12px;
  font-size: 14px;
  outline: none;
}


.hidden {
  visibility: hidden;
}
.addInput {
  border: 0;
  border-radius: 12px;
  width: 97%;
  flex-shrink: 0;
  color: #000000;
  font-size: 9.5px;
  font-weight: 600;
  padding-top: 8.5px;
  resize: none;
}
.createButton {
  width: 59.222px;
  height: 26px;
  cursor: pointer;
  border-radius: 21.667px;
  background: linear-gradient(90deg, #9f132e 30.34%, #de3a58 100%);
  box-shadow: 0px 3.611px 14.444px -3.611px rgba(0, 0, 0, 0.2);
  border: none;
  color: white;
  margin-top: 10px;
}
.addPart {
  margin-bottom: 16px;
}

.plusIcon {
  width: 24px;
  height: 24px;
}

@media only screen and (max-width: 767px) {
  .addButton{
    margin:5% 0;
  }
}